<template>
  <transition :name="transition">
    <APopup :class="['popup-animated', transition]" :visible="visible" @close="closePopup()">
      <!-- eslint-disable-next-line vue/no-v-html -->
      <h6 v-if="title" class="popup-animated__title a-font_h6" v-html="title" />
      <slot />
    </APopup>
  </transition>
</template>

<script>
import APopup from '@/components/a-popup/a-popup'
import './popup-animated.scss'

export default {
  name: 'PopupAnimated',
  components: { APopup },
  props: {
    visible: Boolean,
    // eslint-disable-next-line vue/require-default-prop
    title: String,
    // eslint-disable-next-line vue/require-default-prop
    transition: String
  },
  methods: {
    closePopup () {
      this.$emit('close', false)
    }
  }
}
</script>
