@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  src: url('~assets/fonts/Exo2/Exo2-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  src: url('~assets/fonts/Exo2/Exo2-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Exo 2';
  font-weight: 600;
  src: url('~assets/fonts/Exo2/Exo2-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 400;
  src: url('~assets/fonts/TTNormsPro/TTNormsPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 400;
  src: url('~assets/fonts/TTNormsPro/TTNormsPro-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TTNorms';
  font-weight: 500;
  src: url('~assets/fonts/TTNormsPro/TTNormsPro-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

