@use '~assets/styles/tools/mixins' as *;

* {
  box-sizing: border-box;
}

body,
html {
  min-width: 360px;
  overflow-x: hidden;
}

body {
  cursor: default;
  font-size: 16px;
  min-height: 100vh;
  color: var(--a-color_text);
  font-family: 'TTNorms', serif;
  background: var(--a-color_bg--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --layout-width: 79.75rem;
  --layout-h-padding: 1.875rem;
}

@media screen and (max-width: 991px) {
  :root {
    --layout-h-padding: 1rem;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--layout-width);
  padding: 0 var(--layout-h-padding);
}

.ht-popup-open {
  overflow: hidden !important;
}

.bg__white {
  background: #fff;
  padding-top: 60px;
  @media screen and (max-width: 991px) {
    padding-top: 40px;
  }
}

.p-index-docs{
  padding-top: 40px;
  @media screen and (max-width: 768px) {
    padding-top: 0;
    .container {
      width: 100%;
      margin: 0 auto;
      max-width: var(--layout-width);
      padding: 0;
    }
  }
}

.p-index {
  padding-top: 80px;
  @media screen and (max-width: 768px) {
    padding-top: 64px;
  }
}
