<template>
  <div v-if="visible" :data-type="type" class="a-popup">
    <div class="a-popup__backdrop" @click="closePopup" />
    <div class="a-popup__container">
      <div class="a-popup__close">
        <i class="a-popup__i si-close" @click="closePopup" />
      </div>
      <slot v-if="type !== 'iframe'" />
      <div v-else class="a-popup__iframe">
        <iframe
          :src="link"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
      </div>
    </div>
  </div>
</template>

<script>
import './a-popup.scss'

export default {
  name: 'APopup',
  props: {
    visible: Boolean,
    // eslint-disable-next-line vue/require-default-prop
    type: {
      type: String,
      validator: value => ['iframe'].includes(value)
    },
    link: {
      type: String,
      default: '#'
    }
  },
  watch: {
    visible (val) {
      if (val) {
        document.documentElement.classList.add('ht-popup-open')
      } else {
        document.documentElement.classList.remove('ht-popup-open')
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      const vh = window.innerHeight * 0.01
      document.documentElement.style.setProperty('--vh', `${vh}px`)
      window.addEventListener('resize', () => {
        document.documentElement.style.setProperty('--vh', `${vh}px`)
      })
      if (this.visible) {
        document.documentElement.classList.add('ht-popup-open')
      }
    })
  },
  methods: {
    closePopup () {
      this.$emit('close', false)
    }
  }
}
</script>
