@import '@/assets/styles/tools/mixins';

.a-popup {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  padding: rem(50) 0;
  flex-shrink: 0;
  flex-grow: 0;
  @media screen and (max-width: 1030px) {
    padding-right: rem(15);
    padding-left: rem(15);
  }
  @media screen and (max-width: 768px) {
    padding: rem(20) 0;
  }
  &__backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 37, 61, 0.5);
  }
  &__container {
    position: relative;
    z-index: 3;
    width: fit-content;
    margin: auto;
    padding: rem(20) rem(20) rem(30) rem(20);
    background: #fff;
    border-radius: var(--a-borderRadius--bg);
    flex-shrink: 0;
    flex-grow: 0;
    @media screen and (max-width: 768px) {
      padding: rem(20) rem(16);
    }
  }
  &__close {
    display: flex;
    justify-content: flex-end;
  }
  &__i {
    cursor: pointer;
  }
  &[data-type='iframe'] {
    .a-popup__container {
      position: relative;
      min-width: rem(1000);
      padding: 0;
      @media screen and (max-width: 1030px) {
        width: 100%;
        min-width: auto;
        margin-right: rem(15);
        margin-left: rem(15);
      }
      .a-popup__close {
        position: absolute;
        top: -4px;
        right: -4px;
        color: #fff;
        font-size: 24px;
        transform: translate(100%, -100%);
        @media screen and (max-width: 1080px) {
          top: -10px;
          right: 0;
          transform: translate(0, -100%);
        }
      }
    }
  }
  &__iframe {
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    & > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    & > img {
      height: auto;
    }
  }
}
