// Цвета
:root {
  --a-color_text: #11253D;
  --a-color_text--secondary: #707C8B;
  --a-color_active: #A0A8B1;
  --a-color_thumbnail: #CFD3D8;
  --a-color_bg--secondary: #F5F5F5;
  --a-color_bg: #FFF;
  --a-color_link: #409EFF;
  --a-color_link--visited: #9FCFFF;
}
