<template>
  <div class="s-intro" id="Home">
    <div class="container">
      <div class="s-intro__inner">
        <div class="s-intro__inner-text">
          <div class="s-intro__text-prefix">
            {{ $t('prefix') }} 
            <!-- Smart Business -->
          </div>
          <h1 class="s-intro__text-title" v-html="$t('title')">
            <!-- Connecting people<br> is our <span>business</span> -->
          </h1>
          <p class="s-intro__text-slogan" v-html="$t('slogan')">
            <!-- As a rule the organization settles on the inventive and media <br> choices. Regularly it supplies supporting statistical. -->
          </p>
          <div class="s-intro__text-link">
            <button>Get Started</button>
          </div>
        </div>
        <div class="s-intro__inner-img">
          <img src="/images/intro/image.svg" >
        </div>
      </div>
    </div>
  </div>
</template>

<i18n lang="json" src="./s-intro.json" />

<script>
import './s-intro.scss'

export default {
  name: 'SIntro',
}
</script>
