.s-intro {
  margin: 20px 0;
  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
  .container {
    // @media screen and (max-width: 768px) {
    //   padding: 0;
    // }
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &-text{
      @media screen and (max-width: 1080px) {
        br{
          display: none;
        }
      }
      @media screen and (max-width: 768px) {
        margin-top: 20px;
        order: 1;
      }
    }
    &-img{
      @media screen and (max-width: 768px) {
        order: 0;
      }
      img{
        width: 100%;
      }
    }
  }
  &__text{
    &-prefix{
      font-weight: 400;
      font-size: 25px;
      line-height: 115%;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #0080FD;

      margin-bottom: 5px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
    &-title{
      font-weight: 700;
      font-size: 60.55px;
      line-height: 115%;

      color: #000000;

      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        font-size: 45px;
        margin-bottom: 10px;
      }
      span{
        color: #250AD0;
      }
    }
    &-slogan{
      font-weight: 400;
      font-size: 16px;
      line-height: 115%;

      color: #000000;

      opacity: 0.6;

      margin-bottom: 30px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 15px;
      }
    }
    &-link{
      button{
        background: #250AD0;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 115%;

        color: #FFFFFF;

        padding: 20px 46px;
        &:hover {
          background: #422adf;
        }
        &:active {
          background: #003664;
        }
        @media screen and (max-width: 450px) {
          font-size: 18px;
        }
        @media screen and (max-width: 450px) {
          width: 100%;
        }
      }
    }
  }
}
