.s-footer {
  padding: var(--a-padding--x2) 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      align-items: flex-start;
      flex-direction: column-reverse;
    }
  }
  &__copy {
    font-size: 16px;
    line-height: 24px;
    color: var(--a-color_text--secondary);
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__lang{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-logo{
      width: 25px;
      height: 25px;
      &:nth-child(1){
        margin: 0 10px;
      }
    }
  }
}
