<template>
  <div class="s-footer">
    <div class="container">
      <div class="s-footer__inner">
        <p class="s-footer__copy">
          © 2014 Honest Technology Holdings
        </p>
        <div class="s-footer__lang">
          <p>
            语言选择\language selection
          </p>
          <nuxt-link :to="switchLocalePath('cn')">
            <div  class="s-footer__lang-logo">
              <img src="/images/footer/cn.svg">
            </div>
          </nuxt-link>
          <nuxt-link :to="switchLocalePath('en')">
            <div  class="s-footer__lang-logo">
              <img src="/images/footer/en.svg">
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- <i18n lang="json" src="./s-footer.json" /> -->

<script>
import './s-footer.scss'
// import config from "/config/locale-domains.js";

export default {
  name: 'SFooter',
  data() {
    return {
      selected: '',
    }
  },
  methods: {
    lanChange () {
      // console.log(this.$el);
      let lang = document.getElementById('selectedLang')
      console.log(lang.value);
      console.log(document.location.host);
      console.log(document.location.protocol);
      document.location.href = lang.value

      // console.log(selected);
      // console.log(this.$i18n);
      // document.location.href = document.location.protocol+document.location.host+lang.value

      // this.$i18n.locale = this.$el.value
    }
  }
}
</script>
