<template>
  <div class="s-community" id="About">
    <div class="container">
      <div class="s-community__inner">
        <h3 class="s-community__prefix title">
          {{ $t('prefix') }} 
        </h3>
        <p class="s-community__text">
          {{ $t('text') }} 
        </p>
      </div>
    </div>
  </div>
</template>

<i18n lang="json" src="./s-community.json" />

<script>
import './s-community.scss'

export default {
  name: 'SCommunity',
}
</script>
