.s-community {
  margin: 50px 0;
  @media screen and (max-width: 768px) {
    margin: 30px 0;
  }
  .container {
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  &__inner{
    display: flex;
    flex-direction: column;

    background: linear-gradient(132deg, #fc415a85, #591bc585, #21233585);
    background-size: 400% 400%;
    box-shadow: 0px 110px 292px rgba(0, 0, 0, 0.04), 
    0px 45.9554px 121.991px rgba(0, 0, 0, 0.0287542), 
    0px 24.5699px 65.222px rgba(0, 0, 0, 0.0238443), 
    0px 13.7737px 36.5629px rgba(0, 0, 0, 0.02), 
    0px 7.31511px 19.4183px rgba(0, 0, 0, 0.0161557), 
    0px 3.04398px 8.08039px rgba(0, 0, 0, 0.0112458);
    border-radius: 12px;

    color: #fff;
    // transition: 10s;
    animation: Gradient 15s ease infinite;

    padding: var(--a-padding--x10);
    @media screen and (max-width: 768px) {
      padding: var(--a-padding--x5);
    }
    @media screen and (max-width: 450px) {
      padding: var(--a-padding--x3);
    }
  }
  &__prefix{
    font-weight: 500;
    font-size: 31px;
    line-height: 115%;

    color: #fff;
    margin-bottom: 25px;
    @media screen and (max-width: 768px) {
      font-size: 38px;
      text-align: center;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  &__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      text-align: justify;
    }
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
