<template>
  <div class="s-reviews" id="Reviews">
    <div class="container">
      <div class="s-reviews__inner">
        <div class="s-reviews__title">
          {{ $t('title') }}
        </div>
        <div class="s-reviews__content">
          <swiper class="s-reviews__swiper" :options="swiperOptionReviews">
            <template v-for="(item,index) in $t(`items`)">
              <swiper-slide :key="index" class="s-reviews__swiper-slide">
                <div class="s-reviews__item">
                  <div class="s-reviews__item-text">
                    <div class="s-reviews__item-description">
                      {{item.text}}
                    </div>
                    <div class="s-reviews__item-title">
                      {{item.name}}
                    </div>
                    <!-- <div class="s-reviews__item-post">
                      {{item.post}}
                    </div> -->
                  </div>
                </div>
              </swiper-slide>
            </template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<i18n lang="json" src="./s-reviews.json" />

<script>
import './s-reviews.scss'

export default {
  name: 'SReviews',
  data () {
    return {
      swiperOptionReviews: {
        slidesPerView: 1.2,
        spaceBetween: 16,
        resistance: true,
        resistanceRatio: 0,
        breakpoints: {
          360:{
            slidesPerView: 1.1,
          },
          768:{
            slidesPerView: 1.4,
          },
          1140:{
            slidesPerView: 2.3,
          }
        }
      }
    }
  }
}
</script>
