.s-reviews {
  margin: 50px 0;
  @media screen and (max-width: 768px) {
    margin: 30px 0;
  }
  .container {
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  &__inner{
    padding: var(--a-padding--x10);
    @media screen and (max-width: 768px) {
      padding: var(--a-padding--x5);
    }
    @media screen and (max-width: 450px) {
      padding: var(--a-padding--x3) 0;
    }
  }
  &__title{
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;

    margin-bottom: 60px;
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: 38px;
    }
    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  &__swiper{
    &-slide{
      // max-width: 420px;
      box-sizing: border-box;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: right;
    border: 1px solid #0039f421;
    background: linear-gradient(90deg, rgba(37,10,208,1) 15%, rgba(255,255,255,1) 15%);
    border-radius: 10px;

    padding: 30px;
    &-logo{
    }
    &-text{
      margin-left: 70px;
    }
    &-title{
      font-size: 20px;
      line-height: 120%;

      margin-top: 15px;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
    
    &-description{
      min-height: 150px;

      font-weight: 400;
      font-size: 20px;
      line-height: 150%;

      color: #000000;

      opacity: 0.7;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
    &-post{
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      opacity: 0.5;
      margin-left: 10px;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
