<template>
  <div class="a-input__wrapper">
    <label v-if="label" :class="typelabel">{{ label }}</label>
    <div class="a-input__row">
      <vue-tel-input
        v-if="type == 'phone'"
        ref="phone"
        v-model="valueThis"
        class="a-input--phone"
        :class="classes"
        valid-characters-only
        :dropdown-options="{ disabledDialCode: true, tabindex: 0 }"
        :input-options="{ showDialCode: true, tabindex: 0 }"
        :placeholder="placeholder"
        :disabled="disabled"
        @validate="validateHandler"
        @change="changeHandler"
        @focus="focusHandler"
        @blur="blurHandler"
      />

      <textarea
        v-else-if="type == 'textarea'"
        ref="aInputTextarea"
        v-model="valueThis"
        class="a-input a-input--textarea"
        :class="classes"
        :placeholder="placeholder"
        :disabled="disabled"
        @change="changeHandler"
        @focus="focusHandler"
        @blur="
          blurHandler();
          resize();
        "
        @keyup="resize"
      />

      <input
        v-else
        ref="a-input"
        v-model="valueThis"
        :type="type"
        class="a-input"
        :class="classes"
        :placeholder="placeholder"
        :disabled="disabled"
        @change="changeHandler"
        @focus="focusHandler"
        @blur="blurHandler"
      >
      <i v-if="icons && !touched && !valueThis" class="a-input__icon" :class="icons" />
      <i
        v-if="clearable && touched && !!valueThis"
        class="a-input__icon si-closeThin"
        @mousedown.prevent
        @click="clearableHandler"
      />
    </div>
    <span v-if="subscription" class="a-input__subscription" :class="typesubs">{{ subscription }}</span>
  </div>
</template>

<script>
import { VueTelInput } from 'vue-tel-input'
import './a-input.scss'

export default {
  name: 'AInput',
  components: {
    VueTelInput
  },

  model: {
    prop: 'value',
    event: 'input'
  },

  props: {
    type: {
      type: String,
      default: 'text'
    },
    // eslint-disable-next-line vue/require-default-prop
    value: {
      type: String
    },
    // eslint-disable-next-line vue/require-default-prop
    label: {
      type: String
    },
    // eslint-disable-next-line vue/require-default-prop
    placeholder: {
      type: String
    },
    // eslint-disable-next-line vue/require-default-prop
    subscription: {
      type: String
    },
    disabled: {
      type: Boolean,
      required: false
    },
    // eslint-disable-next-line vue/require-default-prop
    labelIcon: {
      type: String
    },
    // eslint-disable-next-line vue/require-default-prop
    icons: {
      type: String
    },
    clearable: {
      type: Boolean
    },
    // eslint-disable-next-line vue/require-default-prop
    size: {
      type: String,
      validator (value) {
        return ['large', 'medium', 'small'].includes(value)
      }
    },
    // eslint-disable-next-line vue/require-default-prop
    condition: {
      type: String,
      validator (value) {
        return ['base', 'focus', 'error'].includes(value)
      }
    }
  },
  data: () => ({
    touched: false
  }),

  computed: {
    classes () {
      return {
        [`a-input--${this.size || 'large'}`]: true,
        [`a-input--${this.condition || 'base'}`]: true
      }
    },
    typelabel () {
      return {
        'a-input__label': true,
        [`a-input__label--${this.size || 'large'}`]: true,
        [`${this.labelIcon}`]: this.labelIcon,
        [`a-input__label--${this.condition}`]: this.condition
      }
    },
    typesubs () {
      return {
        'a-input__subscription': true,
        [`a-input__subscription--${this.size || 'large'}`]: true
      }
    },

    valueThis: {
      get () {
        return this.value
      },
      set (newValue) {
        this.$emit('input', newValue)
      }
    }
  },

  mounted () {
    this.$nextTick(() => {
      if (this.$refs.phone) { this.$refs.phone.$el.children[1].classList.add('a-input') }
    })
  },

  methods: {
    changeHandler () {
      this.$emit('change', this.valueThis)
    },
    focusHandler () {
      this.touched = true
      this.$emit('focus')
    },
    blurHandler () {
      this.touched = false
      this.$emit('blur')
    },
    clearableHandler () {
      this.valueThis = ''
    },
    validateHandler (value) {
      this.$emit('validate', value)
    },
    resize () {
      const { aInputTextarea } = this.$refs
      aInputTextarea.style.height = 'auto'
      aInputTextarea.style.cssText = `
        height: ${aInputTextarea.scrollHeight + 2}px;
      `
    }
  }
}
</script>
