<template>
  <div class="s-form" id="Form">
    <div class="container">
      <div class="s-form__inner">
        <h3 class="s-form__prefix title">
          {{ $t('prefix') }} 
        </h3>
        <p class="s-form__text">
          {{ $t('text') }} 
        </p>
        <form class="s-form__form">
          <input type="text" :placeholder="$t('name')" class="s-form__name">
          <input type="tel" :placeholder="$t('tel')" class="s-form__tel">
          <input type="mail" :placeholder="$t('mail')" class="s-form__mail">
          <button type="submit" class="s-form__submit"> 
          {{ $t('button') }} 
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<i18n lang="json" src="./s-form.json" />

<script>
import './s-form.scss'

export default {
  name: 'SForm',
}
</script>
