.s-form {
  margin: 50px 0;
  @media screen and (max-width: 768px) {
    margin: 30px 0;
  }
  .container {
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  &__inner{
    text-align: center;

    background: linear-gradient(121.58deg, #250AD0 2.88%, #AA8CFF 170.71%);
    box-shadow: 0px 110px 292px rgba(0, 0, 0, 0.04), 0px 45.9554px 121.991px rgba(0, 0, 0, 0.0287542), 0px 24.5699px 65.222px rgba(0, 0, 0, 0.0238443), 0px 13.7737px 36.5629px rgba(0, 0, 0, 0.02), 0px 7.31511px 19.4183px rgba(0, 0, 0, 0.0161557), 0px 3.04398px 8.08039px rgba(0, 0, 0, 0.0112458);
    border-radius: 20px;

    padding: var(--a-padding--x10);
    @media screen and (max-width: 768px) {
      padding: var(--a-padding--x5);
    }
    @media screen and (max-width: 450px) {
      padding: var(--a-padding--x3);
    }
  }
  &__prefix{
    font-weight: 500;
    font-size: 31px;
    line-height: 115%;

    color: #fff;
    margin-bottom: 25px;
    @media screen and (max-width: 768px) {
      font-size: 38px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  &__text{
    font-size: 20px;
    line-height: 23px;

    color: #fff;

    margin-bottom: 35px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    margin: 0 auto;
    input{
      box-sizing: border-box;
      border-radius: 9px;

      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      outline: none;
      border: none;

      padding: 16px 38px;
      margin-bottom: 15px;
      &:focus{}
    }
  }
  &__submit{
    background: #250AD0;
    border: none;
    border-radius: 10px;
    outline: none;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFFFF;

    padding: 16px 38px;
    &:hover {
      background: #422adf;
    }
    &:active {
      background: #003664;
    }
  }
}
