.s-loader {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  background: #fff;
  &__logo {
    max-width: 200px;
    margin-bottom: var(--a-padding--x5);
    // transform: rotate(360deg);
    transition: 10s;
    animation:wave 3s linear infinite;
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@keyframes wave{
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}
