<template>
  <div class="l-default">
    <Nuxt />
  </div>
</template>

<script>
export default {
  head() {
    const i18nHead = this.$nuxtI18nHead({ addSeoAttributes: true })

    return {
      htmlAttrs: {
        ...i18nHead.htmlAttrs
      },
      meta: [
        { property: 'og:url', content: this.$t('url') },
        { property: 'og:image', content:  this.$t('url') + '/opengraph/cover.jpg' },
        { hid: 'description', name: 'description', content: this.$t('description') },
        { property: 'og:description', content: this.$t('description') },
        { property: 'og:locale', content: this.$i18n.locale },
        ...i18nHead.meta
      ],
      link: [
        ...i18nHead.link
      ]
    }
  }
}
</script>

<i18n lang="json">
{
  "cn": {
    "url": "",
    "description": ""
  },
  "en": {
    "url": "",
    "description": ""
  }
}
</i18n>
