<template>
  <header class="s-header">
    <div class="container">
      <div class="s-header__inner">
        <!-- <ALogo class="s-header__logo" :link="true" :type="logoType" /> -->
        <div class="s-header__logo">
          <img src="/images/header/logo.svg">
        </div>
        <div class="s-header__link">
          <div class="s-header__link-text" v-for="(link,index) in $t('links')">
            <a :href="'#'+link" rel="noopener noreferrer" @click="events" :key="index">{{link}}</a>
          </div>
          <a class="s-header__link-button" href="#Form" @click="events">Get Started</a>
          <button class="s-header__link-close" @click="events">
            <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"/></svg>
          </button>
        </div>
        <div class="s-header__mobile" @click="events">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import './s-header.scss'

export default {
  name: 'SHeader',
  data() {
    return {
      // links:[
      //   'Home',
      //   'About',
      //   'Services',
      //   'Reviews'
      // ]
    }
  },
  methods: {
    events() {
      let burgerEl = document.querySelector('.s-header__link')
      if (burgerEl.classList.contains('mobile')) {
        burgerEl.classList.remove('mobile')
      } else {
        burgerEl.classList.add('mobile')
      }
      burgerEl
      // console.log();
      // document.querySelector('.s-header__link')
    }
    // getWindowWidth() {
    //   this.windowWidth = document.documentElement.clientWidth;
    // },

    // handleScroll(anchorId) {
    //   if (this.$route.hash) {
    //     const anchor = document.querySelector(`#${anchorId}`)

    //     if (anchor) {
    //       window.scrollTo({
    //         top: anchor.getBoundingClientRect().top + window.pageYOffset
    //       })
    //     }
    //   }
    // }
  },
  mounted() {
    // this.$nextTick(() => {
    //   window.addEventListener('resize', this.getWindowWidth);

    //   this.getWindowWidth();
    // });
  }
  // beforeDestroy() {
  //   window.removeEventListener('resize', this.getWindowWidth);
  // },
}
</script>

<i18n lang="json">
  {
    "cn": {
      "links":[
        "家",
        "关于",
        "服务",
        "检讨报告"
      ]
    },
    "en": {
      "links":[
        "Home",
        "About",
        "Services",
        "Reviews"
      ]
    }
  }
  </i18n>
