.s-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background: var(--a-color_bg);
  transition: background-color .2s linear;
  &_bg {
    &_transparent {
      background: transparent;
    }
  }
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--a-padding--x2) 0;
    @media screen and (max-width: 767px) {
      padding: var(--a-padding--x3) 0;
    }
    @media screen and (max-width: 768px) {
      padding: var(--a-padding--x1) 0;
    }
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 23px;
    @media screen and (max-width: 768px) {
      position: absolute;
      top: -1000%;

      width: 100%;

      justify-content: center;
      flex-direction: column;

      background: #FFFFFF;
      border-radius: 0 0 20px 20px;
      transition: 0.4s;
    }
    &-text{
      border-bottom: 1px solid #ffffff;

      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      color: #000000;

      transition: 0.2s;

      padding: 10px 0;
      margin-right: 40px;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        border-bottom: 1px solid #250AD0;
      }
      @media screen and (max-width: 991px) {
        font-size: 17px;
      }
      @media screen and (max-width: 768px) {
        margin-right: 0;
        margin: 12.5px 0;
        
      }
    }
    &-button {
      display: flex;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
  
      color: #FFFFFF;
      text-align: center;
      transition: background-color .2s linear;
      background: #250AD0;
      border: none;
      outline: none;
      border-radius: 6px;
      padding:14px 30px ;
      &:hover {
        background: #422adf;
      }
      &:active {
        background: #003664;
      }
      @media screen and (max-width: 991px) {
        font-size: 17px;
      }
      @media screen and (max-width: 768px) {
        margin: 12.5px 0;

      }
    }
    &-close{
      display: none;
      
      border: none;
      border-radius:50%;
      background-color: #FFFFFF;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      padding: 10px;
      margin: 12.5px 0;
      transition: 0.2s;
      &:hover{
        transform: rotate(90deg);
      }
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }

  &__mobile{
    display: none;
    @media screen and (max-width: 768px) {
      display:flex;
      flex-direction: column;
    }
    @media screen and (max-width: 450px) {
      padding: 24px;
    }
    &:hover {
      span{
        background: #422adf;
      }
    }
    &:active {
      span{
        background: #003664;
      }
    }
    span{
      width: 40px;
      height: 5px;

      border-radius: 10px;

      background-color: #250AD0;
      &:nth-child(2){
        margin: 5px 0;
      }
    }
  }
  .mobile{
    top: 0;
    border-radius: 0 0 100px 100px;
  }
}
