<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 116 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.831177H6.69553C2.99769 0.831177 0 3.82887 0 7.5267V26.2742C0 29.972 2.99769 32.9697 6.69553 32.9697H25.443C29.1408 32.9697 32.1385 29.972 32.1385 26.2742V7.5267C32.1385 3.82887 29.1408 0.831177 25.443 0.831177Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.7699H19.3677L18.431 21.9221H16.1317L20.5174 11.8788H22.8502L27.4517 21.9221H24.9809L24.0797 19.7699ZM23.3385 18.0052L21.8374 14.1626L20.1626 18.0052H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 20.0569V21.9221H6.02597V11.8788H13.7145V13.744H8.36599V15.9248H13.0895V17.7326H8.36599V20.0569H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.8788L18.4465 21.9221H16.121L11.7318 11.8788H14.2752L17.371 19.0526L20.5103 11.8788H22.8502Z"
        fill="white" />
      <path
        d="M39.1472 23.4004V9.33984H44.7714C46.1239 9.33984 47.2488 9.77505 48.146 10.6455C49.0432 11.5159 49.4918 12.5872 49.4918 13.8593C49.4918 15.1315 49.0432 16.2028 48.146 17.0732C47.2488 17.9436 46.1239 18.3788 44.7714 18.3788H41.3567V23.4004H39.1472ZM41.3567 16.3701H44.7714C45.4678 16.3701 46.057 16.1291 46.539 15.647C47.0345 15.165 47.2822 14.5691 47.2822 13.8593C47.2822 13.1496 47.0345 12.5537 46.539 12.0716C46.057 11.5895 45.4678 11.3485 44.7714 11.3485H41.3567V16.3701Z"
        fill="#11253D" />
      <path
        d="M56.821 23.4004V21.9944C56.6335 22.2756 56.3791 22.5434 56.0577 22.7979C55.3346 23.3335 54.5512 23.6013 53.7076 23.6013C52.7702 23.6013 52.0002 23.3268 51.3976 22.7778C50.795 22.2287 50.4937 21.5659 50.4937 20.7892C50.4937 19.9991 50.7415 19.3363 51.237 18.8006C51.7458 18.265 52.4355 17.9235 53.3059 17.7762L56.821 17.1736C56.821 16.6514 56.6335 16.2228 56.2586 15.8881C55.8836 15.5399 55.4016 15.3658 54.8124 15.3658C54.2232 15.3658 53.6139 15.5868 52.9845 16.0287C52.7568 16.1894 52.5292 16.4036 52.3015 16.6714L50.9959 15.3658C51.2637 15.0177 51.5851 14.7164 51.9601 14.4619C52.8037 13.8593 53.7545 13.558 54.8124 13.558C56.0042 13.558 56.9683 13.9129 57.7048 14.6226C58.4547 15.3189 58.8297 16.2028 58.8297 17.274V23.4004H56.821ZM56.821 19.0818V18.7805L54.0089 19.2827C53.0046 19.4568 52.5024 19.892 52.5024 20.5883C52.5024 20.9499 52.643 21.2579 52.9242 21.5123C53.2188 21.7667 53.6139 21.894 54.1093 21.894C54.8726 21.894 55.5154 21.6261 56.0376 21.0905C56.5599 20.5549 56.821 19.8853 56.821 19.0818Z"
        fill="#11253D" />
      <path
        d="M61.6324 23.4004V13.7589H63.641V15.0645C63.9089 14.7431 64.1566 14.4954 64.3842 14.3213C65.027 13.8125 65.7501 13.558 66.5536 13.558H67.0558V15.6671L66.7946 15.6269C66.4732 15.5868 66.2925 15.5667 66.2523 15.5667C65.5426 15.5667 64.9266 15.8479 64.4043 16.4103C63.8955 16.9594 63.641 17.649 63.641 18.4792V23.4004H61.6324Z"
        fill="#11253D" />
      <path
        d="M69.8749 20.3875V15.6671H68.0672V13.7589H69.1719C69.4933 13.7589 69.7209 13.6785 69.8549 13.5179C70.0022 13.3438 70.0758 13.0559 70.0758 12.6541V10.545H71.8836V13.7589H74.0931V15.6671H71.8836V20.1866C71.8836 21.1909 72.3523 21.6931 73.2897 21.6931C73.5575 21.6931 73.8186 21.6462 74.073 21.5525L74.3944 21.3918V23.3L73.9726 23.4607C73.6646 23.5544 73.3031 23.6013 72.8879 23.6013C71.9238 23.6013 71.1806 23.3268 70.6583 22.7778C70.1361 22.2287 69.8749 21.432 69.8749 20.3875Z"
        fill="#11253D" />
      <path
        d="M76.7954 23.4004V13.7589H78.8041V15.165C79.0049 14.8703 79.2527 14.6025 79.5473 14.3615C80.2168 13.8258 80.9734 13.558 81.817 13.558C82.9419 13.558 83.8592 13.9397 84.5689 14.703C85.2786 15.4529 85.6335 16.4773 85.6335 17.7762V23.4004H83.6248V17.7762C83.6248 17.0665 83.4173 16.5041 83.0021 16.0889C82.6004 15.6738 82.0715 15.4663 81.4153 15.4663C80.652 15.4663 80.0226 15.7207 79.5272 16.2295C79.0451 16.725 78.8041 17.3745 78.8041 18.1779V23.4004H76.7954Z"
        fill="#11253D" />
      <path
        d="M95.7788 20.3875L96.984 21.7935C96.7295 22.1283 96.3948 22.4296 95.9796 22.6974C95.0691 23.3 94.0312 23.6013 92.8662 23.6013C91.4602 23.6013 90.2684 23.1192 89.2908 22.1551C88.3267 21.1775 87.8446 19.9857 87.8446 18.5797C87.8446 17.1736 88.32 15.9885 89.2707 15.0243C90.2349 14.0468 91.3999 13.558 92.7658 13.558C94.1317 13.558 95.2565 14.0066 96.1403 14.9038C97.0375 15.7876 97.4861 16.9125 97.4861 18.2784C97.4861 18.3989 97.4661 18.6399 97.4259 19.0015L97.3857 19.2827H89.9537C90.0742 19.9656 90.409 20.5415 90.958 21.0101C91.507 21.4654 92.1766 21.6931 92.9667 21.6931C93.6898 21.6931 94.3727 21.4788 95.0155 21.0503C95.3101 20.8628 95.5645 20.6419 95.7788 20.3875ZM89.9537 17.5753H95.377C95.2164 16.8924 94.9151 16.3568 94.4732 15.9684C94.0312 15.5667 93.4621 15.3658 92.7658 15.3658C91.3463 15.3658 90.409 16.1023 89.9537 17.5753Z"
        fill="#11253D" />
      <path
        d="M99.687 23.4004V13.7589H101.696V15.0645C101.964 14.7431 102.211 14.4954 102.439 14.3213C103.082 13.8125 103.805 13.558 104.608 13.558H105.11V15.6671L104.849 15.6269C104.528 15.5868 104.347 15.5667 104.307 15.5667C103.597 15.5667 102.981 15.8479 102.459 16.4103C101.95 16.9594 101.696 17.649 101.696 18.4792V23.4004H99.687Z"
        fill="#11253D" />
      <path
        d="M106.021 21.7935L107.327 20.4879C107.541 20.7557 107.769 20.9767 108.01 21.1508C108.626 21.5793 109.235 21.7935 109.838 21.7935C110.373 21.7935 110.789 21.6797 111.083 21.4521C111.391 21.211 111.545 20.9231 111.545 20.5883C111.545 20.2937 111.364 20.0527 111.003 19.8652C110.655 19.6777 110.233 19.517 109.737 19.3831C109.242 19.2492 108.74 19.0885 108.231 18.9011C107.735 18.7002 107.307 18.3855 106.945 17.957C106.597 17.5285 106.423 16.9995 106.423 16.3701C106.423 15.5935 106.744 14.9306 107.387 14.3816C108.03 13.8325 108.88 13.558 109.938 13.558C110.876 13.558 111.733 13.779 112.509 14.2209C112.844 14.395 113.125 14.6092 113.353 14.8637L112.047 16.1693C111.86 15.9952 111.672 15.8613 111.485 15.7675C111.016 15.4997 110.501 15.3658 109.938 15.3658C109.456 15.3658 109.081 15.4663 108.813 15.6671C108.559 15.868 108.432 16.1023 108.432 16.3701C108.432 16.6648 108.606 16.9058 108.954 17.0933C109.316 17.2807 109.744 17.4481 110.24 17.5954C110.735 17.7293 111.23 17.8967 111.726 18.0976C112.235 18.2851 112.663 18.5931 113.011 19.0216C113.373 19.4367 113.554 19.959 113.554 20.5883C113.554 21.432 113.212 22.1484 112.529 22.7376C111.86 23.3134 110.963 23.6013 109.838 23.6013C108.78 23.6013 107.829 23.3 106.986 22.6974C106.597 22.443 106.276 22.1417 106.021 21.7935Z"
        fill="#11253D" />
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 116 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.831177H6.69553C2.99769 0.831177 0 3.82887 0 7.5267V26.2742C0 29.972 2.99769 32.9697 6.69553 32.9697H25.443C29.1408 32.9697 32.1385 29.972 32.1385 26.2742V7.5267C32.1385 3.82887 29.1408 0.831177 25.443 0.831177Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.7699H19.3677L18.431 21.9221H16.1317L20.5174 11.8788H22.8502L27.4517 21.9221H24.9809L24.0797 19.7699ZM23.3385 18.0052L21.8374 14.1626L20.1626 18.0052H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 20.0569V21.9221H6.02597V11.8788H13.7145V13.744H8.36599V15.9248H13.0895V17.7326H8.36599V20.0569H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.8788L18.4465 21.9221H16.121L11.7318 11.8788H14.2752L17.371 19.0526L20.5103 11.8788H22.8502Z"
      fill="white" />
    <path
      d="M39.1472 23.4004V9.33984H44.7714C46.1239 9.33984 47.2488 9.77505 48.146 10.6455C49.0432 11.5159 49.4918 12.5872 49.4918 13.8593C49.4918 15.1315 49.0432 16.2028 48.146 17.0732C47.2488 17.9436 46.1239 18.3788 44.7714 18.3788H41.3567V23.4004H39.1472ZM41.3567 16.3701H44.7714C45.4678 16.3701 46.057 16.1291 46.539 15.647C47.0345 15.165 47.2822 14.5691 47.2822 13.8593C47.2822 13.1496 47.0345 12.5537 46.539 12.0716C46.057 11.5895 45.4678 11.3485 44.7714 11.3485H41.3567V16.3701Z"
      fill="#11253D" />
    <path
      d="M56.821 23.4004V21.9944C56.6335 22.2756 56.3791 22.5434 56.0577 22.7979C55.3346 23.3335 54.5512 23.6013 53.7076 23.6013C52.7702 23.6013 52.0002 23.3268 51.3976 22.7778C50.795 22.2287 50.4937 21.5659 50.4937 20.7892C50.4937 19.9991 50.7415 19.3363 51.237 18.8006C51.7458 18.265 52.4355 17.9235 53.3059 17.7762L56.821 17.1736C56.821 16.6514 56.6335 16.2228 56.2586 15.8881C55.8836 15.5399 55.4016 15.3658 54.8124 15.3658C54.2232 15.3658 53.6139 15.5868 52.9845 16.0287C52.7568 16.1894 52.5292 16.4036 52.3015 16.6714L50.9959 15.3658C51.2637 15.0177 51.5851 14.7164 51.9601 14.4619C52.8037 13.8593 53.7545 13.558 54.8124 13.558C56.0042 13.558 56.9683 13.9129 57.7048 14.6226C58.4547 15.3189 58.8297 16.2028 58.8297 17.274V23.4004H56.821ZM56.821 19.0818V18.7805L54.0089 19.2827C53.0046 19.4568 52.5024 19.892 52.5024 20.5883C52.5024 20.9499 52.643 21.2579 52.9242 21.5123C53.2188 21.7667 53.6139 21.894 54.1093 21.894C54.8726 21.894 55.5154 21.6261 56.0376 21.0905C56.5599 20.5549 56.821 19.8853 56.821 19.0818Z"
      fill="#11253D" />
    <path
      d="M61.6324 23.4004V13.7589H63.641V15.0645C63.9089 14.7431 64.1566 14.4954 64.3842 14.3213C65.027 13.8125 65.7501 13.558 66.5536 13.558H67.0558V15.6671L66.7946 15.6269C66.4732 15.5868 66.2925 15.5667 66.2523 15.5667C65.5426 15.5667 64.9266 15.8479 64.4043 16.4103C63.8955 16.9594 63.641 17.649 63.641 18.4792V23.4004H61.6324Z"
      fill="#11253D" />
    <path
      d="M69.8749 20.3875V15.6671H68.0672V13.7589H69.1719C69.4933 13.7589 69.7209 13.6785 69.8549 13.5179C70.0022 13.3438 70.0758 13.0559 70.0758 12.6541V10.545H71.8836V13.7589H74.0931V15.6671H71.8836V20.1866C71.8836 21.1909 72.3523 21.6931 73.2897 21.6931C73.5575 21.6931 73.8186 21.6462 74.073 21.5525L74.3944 21.3918V23.3L73.9726 23.4607C73.6646 23.5544 73.3031 23.6013 72.8879 23.6013C71.9238 23.6013 71.1806 23.3268 70.6583 22.7778C70.1361 22.2287 69.8749 21.432 69.8749 20.3875Z"
      fill="#11253D" />
    <path
      d="M76.7954 23.4004V13.7589H78.8041V15.165C79.0049 14.8703 79.2527 14.6025 79.5473 14.3615C80.2168 13.8258 80.9734 13.558 81.817 13.558C82.9419 13.558 83.8592 13.9397 84.5689 14.703C85.2786 15.4529 85.6335 16.4773 85.6335 17.7762V23.4004H83.6248V17.7762C83.6248 17.0665 83.4173 16.5041 83.0021 16.0889C82.6004 15.6738 82.0715 15.4663 81.4153 15.4663C80.652 15.4663 80.0226 15.7207 79.5272 16.2295C79.0451 16.725 78.8041 17.3745 78.8041 18.1779V23.4004H76.7954Z"
      fill="#11253D" />
    <path
      d="M95.7788 20.3875L96.984 21.7935C96.7295 22.1283 96.3948 22.4296 95.9796 22.6974C95.0691 23.3 94.0312 23.6013 92.8662 23.6013C91.4602 23.6013 90.2684 23.1192 89.2908 22.1551C88.3267 21.1775 87.8446 19.9857 87.8446 18.5797C87.8446 17.1736 88.32 15.9885 89.2707 15.0243C90.2349 14.0468 91.3999 13.558 92.7658 13.558C94.1317 13.558 95.2565 14.0066 96.1403 14.9038C97.0375 15.7876 97.4861 16.9125 97.4861 18.2784C97.4861 18.3989 97.4661 18.6399 97.4259 19.0015L97.3857 19.2827H89.9537C90.0742 19.9656 90.409 20.5415 90.958 21.0101C91.507 21.4654 92.1766 21.6931 92.9667 21.6931C93.6898 21.6931 94.3727 21.4788 95.0155 21.0503C95.3101 20.8628 95.5645 20.6419 95.7788 20.3875ZM89.9537 17.5753H95.377C95.2164 16.8924 94.9151 16.3568 94.4732 15.9684C94.0312 15.5667 93.4621 15.3658 92.7658 15.3658C91.3463 15.3658 90.409 16.1023 89.9537 17.5753Z"
      fill="#11253D" />
    <path
      d="M99.687 23.4004V13.7589H101.696V15.0645C101.964 14.7431 102.211 14.4954 102.439 14.3213C103.082 13.8125 103.805 13.558 104.608 13.558H105.11V15.6671L104.849 15.6269C104.528 15.5868 104.347 15.5667 104.307 15.5667C103.597 15.5667 102.981 15.8479 102.459 16.4103C101.95 16.9594 101.696 17.649 101.696 18.4792V23.4004H99.687Z"
      fill="#11253D" />
    <path
      d="M106.021 21.7935L107.327 20.4879C107.541 20.7557 107.769 20.9767 108.01 21.1508C108.626 21.5793 109.235 21.7935 109.838 21.7935C110.373 21.7935 110.789 21.6797 111.083 21.4521C111.391 21.211 111.545 20.9231 111.545 20.5883C111.545 20.2937 111.364 20.0527 111.003 19.8652C110.655 19.6777 110.233 19.517 109.737 19.3831C109.242 19.2492 108.74 19.0885 108.231 18.9011C107.735 18.7002 107.307 18.3855 106.945 17.957C106.597 17.5285 106.423 16.9995 106.423 16.3701C106.423 15.5935 106.744 14.9306 107.387 14.3816C108.03 13.8325 108.88 13.558 109.938 13.558C110.876 13.558 111.733 13.779 112.509 14.2209C112.844 14.395 113.125 14.6092 113.353 14.8637L112.047 16.1693C111.86 15.9952 111.672 15.8613 111.485 15.7675C111.016 15.4997 110.501 15.3658 109.938 15.3658C109.456 15.3658 109.081 15.4663 108.813 15.6671C108.559 15.868 108.432 16.1023 108.432 16.3701C108.432 16.6648 108.606 16.9058 108.954 17.0933C109.316 17.2807 109.744 17.4481 110.24 17.5954C110.735 17.7293 111.23 17.8967 111.726 18.0976C112.235 18.2851 112.663 18.5931 113.011 19.0216C113.373 19.4367 113.554 19.959 113.554 20.5883C113.554 21.432 113.212 22.1484 112.529 22.7376C111.86 23.3134 110.963 23.6013 109.838 23.6013C108.78 23.6013 107.829 23.3 106.986 22.6974C106.597 22.443 106.276 22.1417 106.021 21.7935Z"
      fill="#11253D" />
  </svg>
</template>

<script>
export default {
  name: 'ALogoPartners',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#1A202E';
    }
  }
}
</script>
