<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 60 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.13855H6.69553C2.99769 0.13855 0 3.13624 0 6.83408V25.5815C0 29.2794 2.99769 32.2771 6.69553 32.2771H25.443C29.1408 32.2771 32.1385 29.2794 32.1385 25.5815V6.83408C32.1385 3.13624 29.1408 0.13855 25.443 0.13855Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.0773H19.3677L18.431 21.2294H16.1317L20.5174 11.1862H22.8502L27.4517 21.2294H24.9809L24.0797 19.0773ZM23.3385 17.3126L21.8374 13.47L20.1626 17.3126H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 19.3643V21.2294H6.02597V11.1862H13.7145V13.0513H8.36599V15.2322H13.0895V17.04H8.36599V19.3643H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.1862L18.4465 21.2294H16.121L11.7318 11.1862H14.2752L17.371 18.3599L20.5103 11.1862H22.8502Z"
        fill="white" />
      <path d="M39.1472 22.7078V8.64722H41.3567V22.7078H39.1472Z" fill="#11253D" />
      <path
        d="M45.3654 22.7078V8.64722H50.0857C52.1212 8.64722 53.8486 9.34355 55.2681 10.7362C56.7009 12.1155 57.4173 13.7626 57.4173 15.6775C57.4173 17.5924 56.7009 19.2462 55.2681 20.6389C53.8486 22.0182 52.1212 22.7078 50.0857 22.7078H45.3654ZM47.5749 20.6992H50.0857C51.532 20.6992 52.7439 20.2171 53.7214 19.2529C54.7124 18.2754 55.2078 17.0836 55.2078 15.6775C55.2078 14.2715 54.7124 13.0864 53.7214 12.1222C52.7439 11.1446 51.532 10.6559 50.0857 10.6559H47.5749V20.6992Z"
        fill="#11253D" />
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 60 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.13855H6.69553C2.99769 0.13855 0 3.13624 0 6.83408V25.5815C0 29.2794 2.99769 32.2771 6.69553 32.2771H25.443C29.1408 32.2771 32.1385 29.2794 32.1385 25.5815V6.83408C32.1385 3.13624 29.1408 0.13855 25.443 0.13855Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.0773H19.3677L18.431 21.2294H16.1317L20.5174 11.1862H22.8502L27.4517 21.2294H24.9809L24.0797 19.0773ZM23.3385 17.3126L21.8374 13.47L20.1626 17.3126H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 19.3643V21.2294H6.02597V11.1862H13.7145V13.0513H8.36599V15.2322H13.0895V17.04H8.36599V19.3643H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.1862L18.4465 21.2294H16.121L11.7318 11.1862H14.2752L17.371 18.3599L20.5103 11.1862H22.8502Z"
      fill="white" />
    <path d="M39.1472 22.7078V8.64722H41.3567V22.7078H39.1472Z" fill="#11253D" />
    <path
      d="M45.3654 22.7078V8.64722H50.0857C52.1212 8.64722 53.8486 9.34355 55.2681 10.7362C56.7009 12.1155 57.4173 13.7626 57.4173 15.6775C57.4173 17.5924 56.7009 19.2462 55.2681 20.6389C53.8486 22.0182 52.1212 22.7078 50.0857 22.7078H45.3654ZM47.5749 20.6992H50.0857C51.532 20.6992 52.7439 20.2171 53.7214 19.2529C54.7124 18.2754 55.2078 17.0836 55.2078 15.6775C55.2078 14.2715 54.7124 13.0864 53.7214 12.1222C52.7439 11.1446 51.532 10.6559 50.0857 10.6559H47.5749V20.6992Z"
      fill="#11253D" />
  </svg>
</template>

<script>
export default {
  name: 'ALogoIconId',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#1A202E';
    }
  }
}
</script>
