<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 73 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.108154H6.69553C2.99769 0.108154 0 3.10584 0 6.80368V25.5512C0 29.249 2.99769 32.2467 6.69553 32.2467H25.443C29.1408 32.2467 32.1385 29.249 32.1385 25.5512V6.80368C32.1385 3.10584 29.1408 0.108154 25.443 0.108154Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.0469H19.3677L18.431 21.1991H16.1317L20.5174 11.1558H22.8502L27.4517 21.1991H24.9809L24.0797 19.0469ZM23.3385 17.2822L21.8374 13.4396L20.1626 17.2822H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 19.3339V21.1991H6.02597V11.1558H13.7145V13.0209H8.36599V15.2018H13.0895V17.0096H8.36599V19.3339H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.1558L18.4465 21.1991H16.121L11.7318 11.1558H14.2752L17.371 18.3295L20.5103 11.1558H22.8502Z"
        fill="white" />
      <path d="M39.1472 22.6774V8.61682H41.3567V20.5683H48.1861V22.6774H39.1472Z" fill="#11253D" />
      <path
        d="M50.1006 22.6774V13.0359H52.1093V22.6774H50.1006ZM50.2613 10.8866C50.0203 10.659 49.8998 10.371 49.8998 10.0229C49.8998 9.67471 50.0203 9.38681 50.2613 9.15916C50.5024 8.93151 50.7836 8.81769 51.105 8.81769C51.4264 8.81769 51.7076 8.93151 51.9486 9.15916C52.1897 9.38681 52.3102 9.67471 52.3102 10.0229C52.3102 10.371 52.1897 10.659 51.9486 10.8866C51.7076 11.1143 51.4264 11.2281 51.105 11.2281C50.7836 11.2281 50.5024 11.1143 50.2613 10.8866Z"
        fill="#11253D" />
      <path
        d="M55.7249 22.6774V14.9441H54.2184V13.0359H55.7249V11.6298C55.7249 10.5853 55.986 9.78854 56.5083 9.2395C57.0305 8.69047 57.7737 8.41595 58.7379 8.41595C59.1128 8.41595 59.4744 8.46952 59.8226 8.57665C59.9163 8.61682 60.0569 8.66369 60.2444 8.71725V10.6255L59.923 10.4849C59.6284 10.3777 59.3673 10.3242 59.1396 10.3242C58.2022 10.3242 57.7335 10.8263 57.7335 11.8307V13.0359H60.0435V14.9441H57.7335V22.6774H55.7249Z"
        fill="#11253D" />
      <path
        d="M69.3759 19.6644L70.5811 21.0705C70.3267 21.4053 69.9919 21.7066 69.5768 21.9744C68.6662 22.577 67.6284 22.8783 66.4634 22.8783C65.0573 22.8783 63.8655 22.3962 62.888 21.4321C61.9238 20.4545 61.4417 19.2627 61.4417 17.8566C61.4417 16.4506 61.9171 15.2655 62.8679 14.3013C63.832 13.3238 64.997 12.835 66.3629 12.835C67.7288 12.835 68.8537 13.2836 69.7375 14.1808C70.6347 15.0646 71.0833 16.1895 71.0833 17.5553C71.0833 17.6759 71.0632 17.9169 71.023 18.2785L70.9828 18.5597H63.5508C63.6713 19.2426 64.0061 19.8184 64.5551 20.2871C65.1042 20.7424 65.7737 20.9701 66.5638 20.9701C67.2869 20.9701 67.9699 20.7558 68.6126 20.3273C68.9072 20.1398 69.1617 19.9189 69.3759 19.6644ZM63.5508 16.8523H68.9742C68.8135 16.1694 68.5122 15.6337 68.0703 15.2454C67.6284 14.8437 67.0593 14.6428 66.3629 14.6428C64.9435 14.6428 64.0061 15.3793 63.5508 16.8523Z"
        fill="#11253D" />
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 73 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.108154H6.69553C2.99769 0.108154 0 3.10584 0 6.80368V25.5512C0 29.249 2.99769 32.2467 6.69553 32.2467H25.443C29.1408 32.2467 32.1385 29.249 32.1385 25.5512V6.80368C32.1385 3.10584 29.1408 0.108154 25.443 0.108154Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.0469H19.3677L18.431 21.1991H16.1317L20.5174 11.1558H22.8502L27.4517 21.1991H24.9809L24.0797 19.0469ZM23.3385 17.2822L21.8374 13.4396L20.1626 17.2822H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 19.3339V21.1991H6.02597V11.1558H13.7145V13.0209H8.36599V15.2018H13.0895V17.0096H8.36599V19.3339H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.1558L18.4465 21.1991H16.121L11.7318 11.1558H14.2752L17.371 18.3295L20.5103 11.1558H22.8502Z"
      fill="white" />
    <path d="M39.1472 22.6774V8.61682H41.3567V20.5683H48.1861V22.6774H39.1472Z" fill="#11253D" />
    <path
      d="M50.1006 22.6774V13.0359H52.1093V22.6774H50.1006ZM50.2613 10.8866C50.0203 10.659 49.8998 10.371 49.8998 10.0229C49.8998 9.67471 50.0203 9.38681 50.2613 9.15916C50.5024 8.93151 50.7836 8.81769 51.105 8.81769C51.4264 8.81769 51.7076 8.93151 51.9486 9.15916C52.1897 9.38681 52.3102 9.67471 52.3102 10.0229C52.3102 10.371 52.1897 10.659 51.9486 10.8866C51.7076 11.1143 51.4264 11.2281 51.105 11.2281C50.7836 11.2281 50.5024 11.1143 50.2613 10.8866Z"
      fill="#11253D" />
    <path
      d="M55.7249 22.6774V14.9441H54.2184V13.0359H55.7249V11.6298C55.7249 10.5853 55.986 9.78854 56.5083 9.2395C57.0305 8.69047 57.7737 8.41595 58.7379 8.41595C59.1128 8.41595 59.4744 8.46952 59.8226 8.57665C59.9163 8.61682 60.0569 8.66369 60.2444 8.71725V10.6255L59.923 10.4849C59.6284 10.3777 59.3673 10.3242 59.1396 10.3242C58.2022 10.3242 57.7335 10.8263 57.7335 11.8307V13.0359H60.0435V14.9441H57.7335V22.6774H55.7249Z"
      fill="#11253D" />
    <path
      d="M69.3759 19.6644L70.5811 21.0705C70.3267 21.4053 69.9919 21.7066 69.5768 21.9744C68.6662 22.577 67.6284 22.8783 66.4634 22.8783C65.0573 22.8783 63.8655 22.3962 62.888 21.4321C61.9238 20.4545 61.4417 19.2627 61.4417 17.8566C61.4417 16.4506 61.9171 15.2655 62.8679 14.3013C63.832 13.3238 64.997 12.835 66.3629 12.835C67.7288 12.835 68.8537 13.2836 69.7375 14.1808C70.6347 15.0646 71.0833 16.1895 71.0833 17.5553C71.0833 17.6759 71.0632 17.9169 71.023 18.2785L70.9828 18.5597H63.5508C63.6713 19.2426 64.0061 19.8184 64.5551 20.2871C65.1042 20.7424 65.7737 20.9701 66.5638 20.9701C67.2869 20.9701 67.9699 20.7558 68.6126 20.3273C68.9072 20.1398 69.1617 19.9189 69.3759 19.6644ZM63.5508 16.8523H68.9742C68.8135 16.1694 68.5122 15.6337 68.0703 15.2454C67.6284 14.8437 67.0593 14.6428 66.3629 14.6428C64.9435 14.6428 64.0061 15.3793 63.5508 16.8523Z"
      fill="#11253D" />
  </svg>

</template>

<script>
export default {
  name: 'ALogoIconlife',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
