<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 91 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.415588H6.69553C2.99769 0.415588 0 3.41328 0 7.11111V25.8586C0 29.5564 2.99769 32.5541 6.69553 32.5541H25.443C29.1408 32.5541 32.1385 29.5564 32.1385 25.8586V7.11111C32.1385 3.41328 29.1408 0.415588 25.443 0.415588Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.3543H19.3677L18.431 21.5065H16.1317L20.5174 11.4632H22.8502L27.4517 21.5065H24.9809L24.0797 19.3543ZM23.3385 17.5896L21.8374 13.747L20.1626 17.5896H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 19.6413V21.5065H6.02597V11.4632H13.7145V13.3284H8.36599V15.5092H13.0895V17.317H8.36599V19.6413H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.4632L18.4465 21.5065H16.121L11.7318 11.4632H14.2752L17.371 18.637L20.5103 11.4632H22.8502Z"
        fill="white" />
      <path
        d="M50.0944 18.9675L51.5004 20.3736C51.0719 20.9092 50.5764 21.3779 50.014 21.7797C48.7017 22.717 47.2555 23.1857 45.6753 23.1857C43.5729 23.1857 41.8053 22.4894 40.3725 21.0967C38.953 19.6907 38.2433 17.9766 38.2433 15.9546C38.2433 13.9325 38.953 12.2251 40.3725 10.8325C41.8053 9.42642 43.5729 8.72339 45.6753 8.72339C47.2956 8.72339 48.7285 9.17868 49.9738 10.0893C50.5497 10.5178 51.025 10.9664 51.4 11.4351L49.9939 12.8411C49.6993 12.4394 49.3445 12.0912 48.9293 11.7966C47.9786 11.0869 46.8939 10.732 45.6753 10.732C44.2157 10.732 42.977 11.2409 41.9593 12.2586C40.955 13.263 40.4528 14.4949 40.4528 15.9546C40.4528 17.4142 40.955 18.6529 41.9593 19.6706C42.977 20.6749 44.2157 21.1771 45.6753 21.1771C46.8939 21.1771 47.992 20.8088 48.9695 20.0723C49.4382 19.7375 49.8132 19.3693 50.0944 18.9675Z"
        fill="#11253D" />
      <path d="M53.6119 22.9849V8.92425H55.6205V22.9849H53.6119Z" fill="#11253D" />
      <path
        d="M58.6335 22.9849V13.3433H60.6422V22.9849H58.6335ZM58.7942 11.194C58.5532 10.9664 58.4327 10.6785 58.4327 10.3303C58.4327 9.98215 58.5532 9.69424 58.7942 9.46659C59.0352 9.23894 59.3165 9.12512 59.6378 9.12512C59.9592 9.12512 60.2404 9.23894 60.4815 9.46659C60.7225 9.69424 60.843 9.98215 60.843 10.3303C60.843 10.6785 60.7225 10.9664 60.4815 11.194C60.2404 11.4217 59.9592 11.5355 59.6378 11.5355C59.3165 11.5355 59.0352 11.4217 58.7942 11.194Z"
        fill="#11253D" />
      <path
        d="M63.5547 22.9849V13.3433H65.5634V14.7494C65.7643 14.4548 66.012 14.1869 66.3066 13.9459C66.9761 13.4103 67.7327 13.1424 68.5764 13.1424C69.7012 13.1424 70.6185 13.5241 71.3282 14.2874C72.038 15.0373 72.3928 16.0617 72.3928 17.3606V22.9849H70.3842V17.3606C70.3842 16.6509 70.1766 16.0885 69.7615 15.6733C69.3597 15.2582 68.8308 15.0507 68.1746 15.0507C67.4114 15.0507 66.782 15.3051 66.2865 15.814C65.8044 16.3094 65.5634 16.9589 65.5634 17.7624V22.9849H63.5547Z"
        fill="#11253D" />
      <path
        d="M75.3069 22.9849V13.3433H77.3156V22.9849H75.3069ZM75.4676 11.194C75.2266 10.9664 75.1061 10.6785 75.1061 10.3303C75.1061 9.98215 75.2266 9.69424 75.4676 9.46659C75.7087 9.23894 75.9899 9.12512 76.3113 9.12512C76.6327 9.12512 76.9139 9.23894 77.1549 9.46659C77.396 9.69424 77.5165 9.98215 77.5165 10.3303C77.5165 10.6785 77.396 10.9664 77.1549 11.194C76.9139 11.4217 76.6327 11.5355 76.3113 11.5355C75.9899 11.5355 75.7087 11.4217 75.4676 11.194Z"
        fill="#11253D" />
      <path
        d="M87.3589 19.8714L88.765 21.1771C88.4837 21.5386 88.1356 21.8734 87.7205 22.1814C86.7831 22.8509 85.7587 23.1857 84.6472 23.1857C83.2411 23.1857 82.0493 22.7036 81.0718 21.7395C80.1076 20.7619 79.6256 19.5701 79.6256 18.1641C79.6256 16.758 80.1076 15.5729 81.0718 14.6088C82.0493 13.6312 83.2411 13.1424 84.6472 13.1424C85.7854 13.1424 86.7965 13.4638 87.6803 14.1066C88.082 14.4012 88.4101 14.7159 88.6645 15.0507L87.2585 16.3563C87.071 16.1019 86.85 15.8876 86.5956 15.7135C85.9662 15.2716 85.3168 15.0507 84.6472 15.0507C83.7902 15.0507 83.0738 15.3453 82.4979 15.9345C81.9221 16.5103 81.6342 17.2535 81.6342 18.1641C81.6342 19.0747 81.9221 19.8246 82.4979 20.4138C83.0738 20.9896 83.7902 21.2775 84.6472 21.2775C85.4105 21.2775 86.0734 21.0432 86.6358 20.5745C86.8768 20.387 87.1179 20.1527 87.3589 19.8714Z"
        fill="#11253D" />
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 91 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.415588H6.69553C2.99769 0.415588 0 3.41328 0 7.11111V25.8586C0 29.5564 2.99769 32.5541 6.69553 32.5541H25.443C29.1408 32.5541 32.1385 29.5564 32.1385 25.8586V7.11111C32.1385 3.41328 29.1408 0.415588 25.443 0.415588Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.3543H19.3677L18.431 21.5065H16.1317L20.5174 11.4632H22.8502L27.4517 21.5065H24.9809L24.0797 19.3543ZM23.3385 17.5896L21.8374 13.747L20.1626 17.5896H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 19.6413V21.5065H6.02597V11.4632H13.7145V13.3284H8.36599V15.5092H13.0895V17.317H8.36599V19.6413H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.4632L18.4465 21.5065H16.121L11.7318 11.4632H14.2752L17.371 18.637L20.5103 11.4632H22.8502Z"
      fill="white" />
    <path
      d="M50.0944 18.9675L51.5004 20.3736C51.0719 20.9092 50.5764 21.3779 50.014 21.7797C48.7017 22.717 47.2555 23.1857 45.6753 23.1857C43.5729 23.1857 41.8053 22.4894 40.3725 21.0967C38.953 19.6907 38.2433 17.9766 38.2433 15.9546C38.2433 13.9325 38.953 12.2251 40.3725 10.8325C41.8053 9.42642 43.5729 8.72339 45.6753 8.72339C47.2956 8.72339 48.7285 9.17868 49.9738 10.0893C50.5497 10.5178 51.025 10.9664 51.4 11.4351L49.9939 12.8411C49.6993 12.4394 49.3445 12.0912 48.9293 11.7966C47.9786 11.0869 46.8939 10.732 45.6753 10.732C44.2157 10.732 42.977 11.2409 41.9593 12.2586C40.955 13.263 40.4528 14.4949 40.4528 15.9546C40.4528 17.4142 40.955 18.6529 41.9593 19.6706C42.977 20.6749 44.2157 21.1771 45.6753 21.1771C46.8939 21.1771 47.992 20.8088 48.9695 20.0723C49.4382 19.7375 49.8132 19.3693 50.0944 18.9675Z"
      fill="#11253D" />
    <path d="M53.6119 22.9849V8.92425H55.6205V22.9849H53.6119Z" fill="#11253D" />
    <path
      d="M58.6335 22.9849V13.3433H60.6422V22.9849H58.6335ZM58.7942 11.194C58.5532 10.9664 58.4327 10.6785 58.4327 10.3303C58.4327 9.98215 58.5532 9.69424 58.7942 9.46659C59.0352 9.23894 59.3165 9.12512 59.6378 9.12512C59.9592 9.12512 60.2404 9.23894 60.4815 9.46659C60.7225 9.69424 60.843 9.98215 60.843 10.3303C60.843 10.6785 60.7225 10.9664 60.4815 11.194C60.2404 11.4217 59.9592 11.5355 59.6378 11.5355C59.3165 11.5355 59.0352 11.4217 58.7942 11.194Z"
      fill="#11253D" />
    <path
      d="M63.5547 22.9849V13.3433H65.5634V14.7494C65.7643 14.4548 66.012 14.1869 66.3066 13.9459C66.9761 13.4103 67.7327 13.1424 68.5764 13.1424C69.7012 13.1424 70.6185 13.5241 71.3282 14.2874C72.038 15.0373 72.3928 16.0617 72.3928 17.3606V22.9849H70.3842V17.3606C70.3842 16.6509 70.1766 16.0885 69.7615 15.6733C69.3597 15.2582 68.8308 15.0507 68.1746 15.0507C67.4114 15.0507 66.782 15.3051 66.2865 15.814C65.8044 16.3094 65.5634 16.9589 65.5634 17.7624V22.9849H63.5547Z"
      fill="#11253D" />
    <path
      d="M75.3069 22.9849V13.3433H77.3156V22.9849H75.3069ZM75.4676 11.194C75.2266 10.9664 75.1061 10.6785 75.1061 10.3303C75.1061 9.98215 75.2266 9.69424 75.4676 9.46659C75.7087 9.23894 75.9899 9.12512 76.3113 9.12512C76.6327 9.12512 76.9139 9.23894 77.1549 9.46659C77.396 9.69424 77.5165 9.98215 77.5165 10.3303C77.5165 10.6785 77.396 10.9664 77.1549 11.194C76.9139 11.4217 76.6327 11.5355 76.3113 11.5355C75.9899 11.5355 75.7087 11.4217 75.4676 11.194Z"
      fill="#11253D" />
    <path
      d="M87.3589 19.8714L88.765 21.1771C88.4837 21.5386 88.1356 21.8734 87.7205 22.1814C86.7831 22.8509 85.7587 23.1857 84.6472 23.1857C83.2411 23.1857 82.0493 22.7036 81.0718 21.7395C80.1076 20.7619 79.6256 19.5701 79.6256 18.1641C79.6256 16.758 80.1076 15.5729 81.0718 14.6088C82.0493 13.6312 83.2411 13.1424 84.6472 13.1424C85.7854 13.1424 86.7965 13.4638 87.6803 14.1066C88.082 14.4012 88.4101 14.7159 88.6645 15.0507L87.2585 16.3563C87.071 16.1019 86.85 15.8876 86.5956 15.7135C85.9662 15.2716 85.3168 15.0507 84.6472 15.0507C83.7902 15.0507 83.0738 15.3453 82.4979 15.9345C81.9221 16.5103 81.6342 17.2535 81.6342 18.1641C81.6342 19.0747 81.9221 19.8246 82.4979 20.4138C83.0738 20.9896 83.7902 21.2775 84.6472 21.2775C85.4105 21.2775 86.0734 21.0432 86.6358 20.5745C86.8768 20.387 87.1179 20.1527 87.3589 19.8714Z"
      fill="#11253D" />
  </svg>
</template>

<script>
export default {
  name: 'ALogoIconClinic',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
