.a-logo {
  display: flex;
  position: relative;
  &_size {
    &_medium {
      height: 40px;
    }
    &_small {
      height: 20px;
    }
    &_large {
      height: 76px;
    }
  }
  a {
    height: 100%;
    display: flex;
  }
  svg {
    height: 100%;
  }
}
