<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 112 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0H6.69553C2.99769 0 0 2.99769 0 6.69553V25.443C0 29.1408 2.99769 32.1385 6.69553 32.1385H25.443C29.1408 32.1385 32.1385 29.1408 32.1385 25.443V6.69553C32.1385 2.99769 29.1408 0 25.443 0Z"
        fill="#409EFF" />
      <path
        d="M24.0797 18.9388H19.3677L18.431 21.0909H16.1317L20.5174 11.0476H22.8502L27.4517 21.0909H24.9809L24.0797 18.9388ZM23.3385 17.174L21.8374 13.3315L20.1626 17.174H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 19.2257V21.0909H6.02597V11.0476H13.7145V12.9128H8.36599V15.0936H13.0895V16.9014H8.36599V19.2257H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.0476L18.4465 21.0909H16.121L11.7318 11.0476H14.2752L17.371 18.2214L20.5103 11.0476H22.8502Z"
        fill="white" />
      <path
        d="M37.1385 22.9904V8.92981H42.9636C44.3027 8.92981 45.4075 9.35163 46.2779 10.1953C47.1483 11.0389 47.5835 12.0901 47.5835 13.3489C47.5835 14.621 47.1349 15.6789 46.2377 16.5225C45.836 16.8841 45.3874 17.1653 44.8919 17.3662L48.0857 22.9904H45.5749L42.6623 17.7679H39.348V22.9904H37.1385ZM39.348 15.7592H42.9636C43.6734 15.7592 44.2492 15.5383 44.6911 15.0964C45.1464 14.6411 45.374 14.0586 45.374 13.3489C45.374 12.6391 45.1464 12.0633 44.6911 11.6214C44.2492 11.1661 43.6734 10.9385 42.9636 10.9385H39.348V15.7592Z"
        fill="#11253D" />
      <path
        d="M57.5397 19.9774L58.7449 21.3835C58.4905 21.7183 58.1557 22.0196 57.7406 22.2874C56.83 22.89 55.7922 23.1913 54.6272 23.1913C53.2211 23.1913 52.0293 22.7092 51.0518 21.745C50.0876 20.7675 49.6055 19.5757 49.6055 18.1696C49.6055 16.7636 50.0809 15.5785 51.0317 14.6143C51.9958 13.6368 53.1609 13.148 54.5267 13.148C55.8926 13.148 57.0175 13.5966 57.9013 14.4938C58.7985 15.3776 59.2471 16.5025 59.2471 17.8683C59.2471 17.9889 59.227 18.2299 59.1868 18.5915L59.1467 18.8727H51.7146C51.8351 19.5556 52.1699 20.1314 52.719 20.6001C53.268 21.0554 53.9375 21.2831 54.7276 21.2831C55.4507 21.2831 56.1337 21.0688 56.7764 20.6403C57.071 20.4528 57.3255 20.2319 57.5397 19.9774ZM51.7146 17.1653H57.138C56.9773 16.4824 56.676 15.9467 56.2341 15.5584C55.7922 15.1566 55.2231 14.9558 54.5267 14.9558C53.1073 14.9558 52.1699 15.6923 51.7146 17.1653Z"
        fill="#11253D" />
      <path
        d="M61.1467 25.1999L62.5527 23.8943C62.7938 24.1755 63.0348 24.4099 63.2759 24.5973C63.8383 25.066 64.5011 25.3004 65.2644 25.3004C66.1884 25.3004 66.9182 25.0192 67.4539 24.4567C68.0029 23.9077 68.2774 23.1511 68.2774 22.187V21.2831C68.0766 21.5643 67.8221 21.8187 67.5141 22.0463C66.8044 22.5418 66.021 22.7895 65.164 22.7895C63.9856 22.7895 62.9679 22.3343 62.1108 21.4237C61.2672 20.4997 60.8454 19.348 60.8454 17.9688C60.8454 16.5895 61.2672 15.4446 62.1108 14.534C62.9679 13.61 63.9856 13.148 65.164 13.148C66.0076 13.148 66.791 13.4024 67.5141 13.9113C67.8087 14.1255 68.0632 14.3733 68.2774 14.6545V13.3489H70.2861V22.187C70.2861 23.6466 69.8107 24.8451 68.8599 25.7824C67.9226 26.7332 66.7241 27.2086 65.2644 27.2086C64.153 27.2086 63.1286 26.8738 62.1912 26.2043C61.7761 25.8963 61.4279 25.5615 61.1467 25.1999ZM63.6374 20.0578C64.1597 20.6068 64.8024 20.8813 65.5657 20.8813C66.329 20.8813 66.9718 20.6068 67.494 20.0578C68.0163 19.5087 68.2774 18.8124 68.2774 17.9688C68.2774 17.1251 68.0163 16.4288 67.494 15.8798C66.9718 15.3307 66.329 15.0562 65.5657 15.0562C64.8024 15.0562 64.1597 15.3307 63.6374 15.8798C63.1152 16.4288 62.854 17.1251 62.854 17.9688C62.854 18.8124 63.1152 19.5087 63.6374 20.0578Z"
        fill="#11253D" />
      <path
        d="M73.2002 22.9904V13.3489H75.2089V22.9904H73.2002ZM73.3609 11.1996C73.1199 10.9719 72.9993 10.684 72.9993 10.3359C72.9993 9.9877 73.1199 9.6998 73.3609 9.47215C73.6019 9.2445 73.8831 9.13068 74.2045 9.13068C74.5259 9.13068 74.8071 9.2445 75.0482 9.47215C75.2892 9.6998 75.4097 9.9877 75.4097 10.3359C75.4097 10.684 75.2892 10.9719 75.0482 11.1996C74.8071 11.4272 74.5259 11.5411 74.2045 11.5411C73.8831 11.5411 73.6019 11.4272 73.3609 11.1996Z"
        fill="#11253D" />
      <path
        d="M77.2175 21.3835L78.5231 20.0779C78.7374 20.3457 78.965 20.5666 79.2061 20.7407C79.8221 21.1692 80.4314 21.3835 81.034 21.3835C81.5696 21.3835 81.9847 21.2697 82.2793 21.042C82.5873 20.801 82.7413 20.5131 82.7413 20.1783C82.7413 19.8837 82.5605 19.6427 82.199 19.4552C81.8508 19.2677 81.429 19.107 80.9335 18.9731C80.4381 18.8392 79.9359 18.6785 79.427 18.491C78.9316 18.2902 78.5031 17.9755 78.1415 17.547C77.7933 17.1184 77.6193 16.5895 77.6193 15.9601C77.6193 15.1834 77.9406 14.5206 78.5834 13.9715C79.2262 13.4225 80.0765 13.148 81.1344 13.148C82.0718 13.148 82.9288 13.3689 83.7055 13.8108C84.0403 13.9849 84.3215 14.1992 84.5491 14.4536L83.2435 15.7592C83.056 15.5852 82.8685 15.4513 82.6811 15.3575C82.2124 15.0897 81.6968 14.9558 81.1344 14.9558C80.6523 14.9558 80.2774 15.0562 80.0096 15.2571C79.7551 15.4579 79.6279 15.6923 79.6279 15.9601C79.6279 16.2547 79.802 16.4958 80.1502 16.6832C80.5117 16.8707 80.9402 17.0381 81.4357 17.1854C81.9312 17.3193 82.4266 17.4867 82.9221 17.6876C83.431 17.875 83.8595 18.183 84.2076 18.6115C84.5692 19.0267 84.75 19.5489 84.75 20.1783C84.75 21.0219 84.4085 21.7384 83.7256 22.3276C83.056 22.9034 82.1588 23.1913 81.034 23.1913C79.9761 23.1913 79.0253 22.89 78.1817 22.2874C77.7933 22.033 77.4719 21.7317 77.2175 21.3835Z"
        fill="#11253D" />
      <path
        d="M87.8548 19.9774V15.2571H86.047V13.3489H87.1517C87.4731 13.3489 87.7008 13.2685 87.8347 13.1078C87.982 12.9337 88.0556 12.6458 88.0556 12.2441V10.135H89.8634V13.3489H92.073V15.2571H89.8634V19.7766C89.8634 20.7809 90.3321 21.2831 91.2695 21.2831C91.5373 21.2831 91.7984 21.2362 92.0529 21.1425L92.3743 20.9818V22.89L91.9524 23.0507C91.6444 23.1444 91.2829 23.1913 90.8678 23.1913C89.9036 23.1913 89.1604 22.9168 88.6382 22.3677C88.1159 21.8187 87.8548 21.0219 87.8548 19.9774Z"
        fill="#11253D" />
      <path
        d="M101.911 19.9774L103.116 21.3835C102.861 21.7183 102.527 22.0196 102.112 22.2874C101.201 22.89 100.163 23.1913 98.9981 23.1913C97.5921 23.1913 96.4003 22.7092 95.4227 21.745C94.4585 20.7675 93.9765 19.5757 93.9765 18.1696C93.9765 16.7636 94.4519 15.5785 95.4026 14.6143C96.3668 13.6368 97.5318 13.148 98.8977 13.148C100.264 13.148 101.388 13.5966 102.272 14.4938C103.169 15.3776 103.618 16.5025 103.618 17.8683C103.618 17.9889 103.598 18.2299 103.558 18.5915L103.518 18.8727H96.0856C96.2061 19.5556 96.5409 20.1314 97.0899 20.6001C97.6389 21.0554 98.3085 21.2831 99.0985 21.2831C99.8217 21.2831 100.505 21.0688 101.147 20.6403C101.442 20.4528 101.696 20.2319 101.911 19.9774ZM96.0856 17.1653H101.509C101.348 16.4824 101.047 15.9467 100.605 15.5584C100.163 15.1566 99.594 14.9558 98.8977 14.9558C97.4782 14.9558 96.5409 15.6923 96.0856 17.1653Z"
        fill="#11253D" />
      <path
        d="M105.819 22.9904V13.3489H107.828V14.6545C108.095 14.3331 108.343 14.0854 108.571 13.9113C109.214 13.4024 109.937 13.148 110.74 13.148H111.242V15.2571L110.981 15.2169C110.66 15.1767 110.479 15.1566 110.439 15.1566C109.729 15.1566 109.113 15.4379 108.591 16.0003C108.082 16.5493 107.828 17.239 107.828 18.0692V22.9904H105.819Z"
        fill="#11253D" />
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 112 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0H6.69553C2.99769 0 0 2.99769 0 6.69553V25.443C0 29.1408 2.99769 32.1385 6.69553 32.1385H25.443C29.1408 32.1385 32.1385 29.1408 32.1385 25.443V6.69553C32.1385 2.99769 29.1408 0 25.443 0Z"
      fill="#409EFF" />
    <path
      d="M24.0797 18.9388H19.3677L18.431 21.0909H16.1317L20.5174 11.0476H22.8502L27.4517 21.0909H24.9809L24.0797 18.9388ZM23.3385 17.174L21.8374 13.3315L20.1626 17.174H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 19.2257V21.0909H6.02597V11.0476H13.7145V12.9128H8.36599V15.0936H13.0895V16.9014H8.36599V19.2257H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.0476L18.4465 21.0909H16.121L11.7318 11.0476H14.2752L17.371 18.2214L20.5103 11.0476H22.8502Z"
      fill="white" />
    <path
      d="M37.1385 22.9904V8.92981H42.9636C44.3027 8.92981 45.4075 9.35163 46.2779 10.1953C47.1483 11.0389 47.5835 12.0901 47.5835 13.3489C47.5835 14.621 47.1349 15.6789 46.2377 16.5225C45.836 16.8841 45.3874 17.1653 44.8919 17.3662L48.0857 22.9904H45.5749L42.6623 17.7679H39.348V22.9904H37.1385ZM39.348 15.7592H42.9636C43.6734 15.7592 44.2492 15.5383 44.6911 15.0964C45.1464 14.6411 45.374 14.0586 45.374 13.3489C45.374 12.6391 45.1464 12.0633 44.6911 11.6214C44.2492 11.1661 43.6734 10.9385 42.9636 10.9385H39.348V15.7592Z"
      fill="#11253D" />
    <path
      d="M57.5397 19.9774L58.7449 21.3835C58.4905 21.7183 58.1557 22.0196 57.7406 22.2874C56.83 22.89 55.7922 23.1913 54.6272 23.1913C53.2211 23.1913 52.0293 22.7092 51.0518 21.745C50.0876 20.7675 49.6055 19.5757 49.6055 18.1696C49.6055 16.7636 50.0809 15.5785 51.0317 14.6143C51.9958 13.6368 53.1609 13.148 54.5267 13.148C55.8926 13.148 57.0175 13.5966 57.9013 14.4938C58.7985 15.3776 59.2471 16.5025 59.2471 17.8683C59.2471 17.9889 59.227 18.2299 59.1868 18.5915L59.1467 18.8727H51.7146C51.8351 19.5556 52.1699 20.1314 52.719 20.6001C53.268 21.0554 53.9375 21.2831 54.7276 21.2831C55.4507 21.2831 56.1337 21.0688 56.7764 20.6403C57.071 20.4528 57.3255 20.2319 57.5397 19.9774ZM51.7146 17.1653H57.138C56.9773 16.4824 56.676 15.9467 56.2341 15.5584C55.7922 15.1566 55.2231 14.9558 54.5267 14.9558C53.1073 14.9558 52.1699 15.6923 51.7146 17.1653Z"
      fill="#11253D" />
    <path
      d="M61.1467 25.1999L62.5527 23.8943C62.7938 24.1755 63.0348 24.4099 63.2759 24.5973C63.8383 25.066 64.5011 25.3004 65.2644 25.3004C66.1884 25.3004 66.9182 25.0192 67.4539 24.4567C68.0029 23.9077 68.2774 23.1511 68.2774 22.187V21.2831C68.0766 21.5643 67.8221 21.8187 67.5141 22.0463C66.8044 22.5418 66.021 22.7895 65.164 22.7895C63.9856 22.7895 62.9679 22.3343 62.1108 21.4237C61.2672 20.4997 60.8454 19.348 60.8454 17.9688C60.8454 16.5895 61.2672 15.4446 62.1108 14.534C62.9679 13.61 63.9856 13.148 65.164 13.148C66.0076 13.148 66.791 13.4024 67.5141 13.9113C67.8087 14.1255 68.0632 14.3733 68.2774 14.6545V13.3489H70.2861V22.187C70.2861 23.6466 69.8107 24.8451 68.8599 25.7824C67.9226 26.7332 66.7241 27.2086 65.2644 27.2086C64.153 27.2086 63.1286 26.8738 62.1912 26.2043C61.7761 25.8963 61.4279 25.5615 61.1467 25.1999ZM63.6374 20.0578C64.1597 20.6068 64.8024 20.8813 65.5657 20.8813C66.329 20.8813 66.9718 20.6068 67.494 20.0578C68.0163 19.5087 68.2774 18.8124 68.2774 17.9688C68.2774 17.1251 68.0163 16.4288 67.494 15.8798C66.9718 15.3307 66.329 15.0562 65.5657 15.0562C64.8024 15.0562 64.1597 15.3307 63.6374 15.8798C63.1152 16.4288 62.854 17.1251 62.854 17.9688C62.854 18.8124 63.1152 19.5087 63.6374 20.0578Z"
      fill="#11253D" />
    <path
      d="M73.2002 22.9904V13.3489H75.2089V22.9904H73.2002ZM73.3609 11.1996C73.1199 10.9719 72.9993 10.684 72.9993 10.3359C72.9993 9.9877 73.1199 9.6998 73.3609 9.47215C73.6019 9.2445 73.8831 9.13068 74.2045 9.13068C74.5259 9.13068 74.8071 9.2445 75.0482 9.47215C75.2892 9.6998 75.4097 9.9877 75.4097 10.3359C75.4097 10.684 75.2892 10.9719 75.0482 11.1996C74.8071 11.4272 74.5259 11.5411 74.2045 11.5411C73.8831 11.5411 73.6019 11.4272 73.3609 11.1996Z"
      fill="#11253D" />
    <path
      d="M77.2175 21.3835L78.5231 20.0779C78.7374 20.3457 78.965 20.5666 79.2061 20.7407C79.8221 21.1692 80.4314 21.3835 81.034 21.3835C81.5696 21.3835 81.9847 21.2697 82.2793 21.042C82.5873 20.801 82.7413 20.5131 82.7413 20.1783C82.7413 19.8837 82.5605 19.6427 82.199 19.4552C81.8508 19.2677 81.429 19.107 80.9335 18.9731C80.4381 18.8392 79.9359 18.6785 79.427 18.491C78.9316 18.2902 78.5031 17.9755 78.1415 17.547C77.7933 17.1184 77.6193 16.5895 77.6193 15.9601C77.6193 15.1834 77.9406 14.5206 78.5834 13.9715C79.2262 13.4225 80.0765 13.148 81.1344 13.148C82.0718 13.148 82.9288 13.3689 83.7055 13.8108C84.0403 13.9849 84.3215 14.1992 84.5491 14.4536L83.2435 15.7592C83.056 15.5852 82.8685 15.4513 82.6811 15.3575C82.2124 15.0897 81.6968 14.9558 81.1344 14.9558C80.6523 14.9558 80.2774 15.0562 80.0096 15.2571C79.7551 15.4579 79.6279 15.6923 79.6279 15.9601C79.6279 16.2547 79.802 16.4958 80.1502 16.6832C80.5117 16.8707 80.9402 17.0381 81.4357 17.1854C81.9312 17.3193 82.4266 17.4867 82.9221 17.6876C83.431 17.875 83.8595 18.183 84.2076 18.6115C84.5692 19.0267 84.75 19.5489 84.75 20.1783C84.75 21.0219 84.4085 21.7384 83.7256 22.3276C83.056 22.9034 82.1588 23.1913 81.034 23.1913C79.9761 23.1913 79.0253 22.89 78.1817 22.2874C77.7933 22.033 77.4719 21.7317 77.2175 21.3835Z"
      fill="#11253D" />
    <path
      d="M87.8548 19.9774V15.2571H86.047V13.3489H87.1517C87.4731 13.3489 87.7008 13.2685 87.8347 13.1078C87.982 12.9337 88.0556 12.6458 88.0556 12.2441V10.135H89.8634V13.3489H92.073V15.2571H89.8634V19.7766C89.8634 20.7809 90.3321 21.2831 91.2695 21.2831C91.5373 21.2831 91.7984 21.2362 92.0529 21.1425L92.3743 20.9818V22.89L91.9524 23.0507C91.6444 23.1444 91.2829 23.1913 90.8678 23.1913C89.9036 23.1913 89.1604 22.9168 88.6382 22.3677C88.1159 21.8187 87.8548 21.0219 87.8548 19.9774Z"
      fill="#11253D" />
    <path
      d="M101.911 19.9774L103.116 21.3835C102.861 21.7183 102.527 22.0196 102.112 22.2874C101.201 22.89 100.163 23.1913 98.9981 23.1913C97.5921 23.1913 96.4003 22.7092 95.4227 21.745C94.4585 20.7675 93.9765 19.5757 93.9765 18.1696C93.9765 16.7636 94.4519 15.5785 95.4026 14.6143C96.3668 13.6368 97.5318 13.148 98.8977 13.148C100.264 13.148 101.388 13.5966 102.272 14.4938C103.169 15.3776 103.618 16.5025 103.618 17.8683C103.618 17.9889 103.598 18.2299 103.558 18.5915L103.518 18.8727H96.0856C96.2061 19.5556 96.5409 20.1314 97.0899 20.6001C97.6389 21.0554 98.3085 21.2831 99.0985 21.2831C99.8217 21.2831 100.505 21.0688 101.147 20.6403C101.442 20.4528 101.696 20.2319 101.911 19.9774ZM96.0856 17.1653H101.509C101.348 16.4824 101.047 15.9467 100.605 15.5584C100.163 15.1566 99.594 14.9558 98.8977 14.9558C97.4782 14.9558 96.5409 15.6923 96.0856 17.1653Z"
      fill="#11253D" />
    <path
      d="M105.819 22.9904V13.3489H107.828V14.6545C108.095 14.3331 108.343 14.0854 108.571 13.9113C109.214 13.4024 109.937 13.148 110.74 13.148H111.242V15.2571L110.981 15.2169C110.66 15.1767 110.479 15.1566 110.439 15.1566C109.729 15.1566 109.113 15.4379 108.591 16.0003C108.082 16.5493 107.828 17.239 107.828 18.0692V22.9904H105.819Z"
      fill="#11253D" />
  </svg>

</template>

<script>
export default {
  name: 'ALogoIconRegister',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
