<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 96 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.277039H6.69553C2.99769 0.277039 0 3.27473 0 6.97256V25.72C0 29.4179 2.99769 32.4156 6.69553 32.4156H25.443C29.1408 32.4156 32.1385 29.4179 32.1385 25.72V6.97256C32.1385 3.27473 29.1408 0.277039 25.443 0.277039Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.2158H19.3677L18.431 21.3679H16.1317L20.5174 11.3246H22.8502L27.4517 21.3679H24.9809L24.0797 19.2158ZM23.3385 17.4511L21.8374 13.6085L20.1626 17.4511H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 19.5028V21.3679H6.02597V11.3246H13.7145V13.1898H8.36599V15.3707H13.0895V17.1785H8.36599V19.5028H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.3246L18.4465 21.3679H16.121L11.7318 11.3246H14.2752L17.371 18.4984L20.5103 11.3246H22.8502Z"
        fill="white" />
      <path
        d="M39.1472 22.8463V8.78571H43.8675C45.903 8.78571 47.6304 9.48204 49.0499 10.8747C50.4827 12.254 51.1991 13.9011 51.1991 15.816C51.1991 17.7309 50.4827 19.3847 49.0499 20.7774C47.6304 22.1567 45.903 22.8463 43.8675 22.8463H39.1472ZM41.3567 20.8377H43.8675C45.3138 20.8377 46.5257 20.3556 47.5032 19.3914C48.4941 18.4139 48.9896 17.2221 48.9896 15.816C48.9896 14.4099 48.4941 13.2248 47.5032 12.2607C46.5257 11.2831 45.3138 10.7944 43.8675 10.7944H41.3567V20.8377Z"
        fill="#11253D" />
      <path
        d="M54.5512 21.6009C53.5871 20.6234 53.105 19.4316 53.105 18.0255C53.105 16.6195 53.5871 15.4344 54.5512 14.4702C55.5288 13.4927 56.7206 13.0039 58.1266 13.0039C59.5327 13.0039 60.7178 13.4927 61.682 14.4702C62.6595 15.4344 63.1483 16.6195 63.1483 18.0255C63.1483 19.4316 62.6595 20.6234 61.682 21.6009C60.7178 22.5651 59.5327 23.0472 58.1266 23.0472C56.7206 23.0472 55.5288 22.5651 54.5512 21.6009ZM55.9774 20.2752C56.5532 20.851 57.2696 21.139 58.1266 21.139C58.9837 21.139 59.7001 20.851 60.2759 20.2752C60.8517 19.686 61.1396 18.9361 61.1396 18.0255C61.1396 17.1149 60.8517 16.3717 60.2759 15.7959C59.7001 15.2067 58.9837 14.9121 58.1266 14.9121C57.2696 14.9121 56.5532 15.2067 55.9774 15.7959C55.4016 16.3717 55.1137 17.1149 55.1137 18.0255C55.1137 18.9361 55.4016 19.686 55.9774 20.2752Z"
        fill="#11253D" />
      <path
        d="M65.3594 22.8463V13.2048H67.368V14.6108C67.5689 14.3162 67.8166 14.0484 68.1112 13.8074C68.7808 13.2717 69.5374 13.0039 70.381 13.0039C71.5059 13.0039 72.4232 13.3855 73.1329 14.1488C73.8426 14.8987 74.1975 15.9231 74.1975 17.2221V22.8463H72.1888V17.2221C72.1888 16.5123 71.9813 15.9499 71.5661 15.5348C71.1644 15.1197 70.6355 14.9121 69.9793 14.9121C69.216 14.9121 68.5866 15.1665 68.0912 15.6754C67.6091 16.1709 67.368 16.8203 67.368 17.6238V22.8463H65.3594Z"
        fill="#11253D" />
      <path
        d="M77.8548 21.6009C76.8907 20.6234 76.4086 19.4316 76.4086 18.0255C76.4086 16.6195 76.8907 15.4344 77.8548 14.4702C78.8324 13.4927 80.0242 13.0039 81.4302 13.0039C82.8363 13.0039 84.0214 13.4927 84.9855 14.4702C85.9631 15.4344 86.4519 16.6195 86.4519 18.0255C86.4519 19.4316 85.9631 20.6234 84.9855 21.6009C84.0214 22.5651 82.8363 23.0472 81.4302 23.0472C80.0242 23.0472 78.8324 22.5651 77.8548 21.6009ZM79.281 20.2752C79.8568 20.851 80.5732 21.139 81.4302 21.139C82.2872 21.139 83.0037 20.851 83.5795 20.2752C84.1553 19.686 84.4432 18.9361 84.4432 18.0255C84.4432 17.1149 84.1553 16.3717 83.5795 15.7959C83.0037 15.2067 82.2872 14.9121 81.4302 14.9121C80.5732 14.9121 79.8568 15.2067 79.281 15.7959C78.7051 16.3717 78.4172 17.1149 78.4172 18.0255C78.4172 18.9361 78.7051 19.686 79.281 20.2752Z"
        fill="#11253D" />
      <path
        d="M88.663 22.8463V13.2048H90.6716V14.5104C90.9394 14.189 91.1872 13.9413 91.4148 13.7672C92.0576 13.2583 92.7807 13.0039 93.5842 13.0039H94.0863V15.113L93.8252 15.0728C93.5038 15.0326 93.323 15.0125 93.2829 15.0125C92.5731 15.0125 91.9572 15.2938 91.4349 15.8562C90.926 16.4052 90.6716 17.0949 90.6716 17.9251V22.8463H88.663Z"
        fill="#11253D" />
    </svg>

  </nuxt-link>
  <svg v-else viewBox="0 0 96 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.277039H6.69553C2.99769 0.277039 0 3.27473 0 6.97256V25.72C0 29.4179 2.99769 32.4156 6.69553 32.4156H25.443C29.1408 32.4156 32.1385 29.4179 32.1385 25.72V6.97256C32.1385 3.27473 29.1408 0.277039 25.443 0.277039Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.2158H19.3677L18.431 21.3679H16.1317L20.5174 11.3246H22.8502L27.4517 21.3679H24.9809L24.0797 19.2158ZM23.3385 17.4511L21.8374 13.6085L20.1626 17.4511H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 19.5028V21.3679H6.02597V11.3246H13.7145V13.1898H8.36599V15.3707H13.0895V17.1785H8.36599V19.5028H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.3246L18.4465 21.3679H16.121L11.7318 11.3246H14.2752L17.371 18.4984L20.5103 11.3246H22.8502Z"
      fill="white" />
    <path
      d="M39.1472 22.8463V8.78571H43.8675C45.903 8.78571 47.6304 9.48204 49.0499 10.8747C50.4827 12.254 51.1991 13.9011 51.1991 15.816C51.1991 17.7309 50.4827 19.3847 49.0499 20.7774C47.6304 22.1567 45.903 22.8463 43.8675 22.8463H39.1472ZM41.3567 20.8377H43.8675C45.3138 20.8377 46.5257 20.3556 47.5032 19.3914C48.4941 18.4139 48.9896 17.2221 48.9896 15.816C48.9896 14.4099 48.4941 13.2248 47.5032 12.2607C46.5257 11.2831 45.3138 10.7944 43.8675 10.7944H41.3567V20.8377Z"
      fill="#11253D" />
    <path
      d="M54.5512 21.6009C53.5871 20.6234 53.105 19.4316 53.105 18.0255C53.105 16.6195 53.5871 15.4344 54.5512 14.4702C55.5288 13.4927 56.7206 13.0039 58.1266 13.0039C59.5327 13.0039 60.7178 13.4927 61.682 14.4702C62.6595 15.4344 63.1483 16.6195 63.1483 18.0255C63.1483 19.4316 62.6595 20.6234 61.682 21.6009C60.7178 22.5651 59.5327 23.0472 58.1266 23.0472C56.7206 23.0472 55.5288 22.5651 54.5512 21.6009ZM55.9774 20.2752C56.5532 20.851 57.2696 21.139 58.1266 21.139C58.9837 21.139 59.7001 20.851 60.2759 20.2752C60.8517 19.686 61.1396 18.9361 61.1396 18.0255C61.1396 17.1149 60.8517 16.3717 60.2759 15.7959C59.7001 15.2067 58.9837 14.9121 58.1266 14.9121C57.2696 14.9121 56.5532 15.2067 55.9774 15.7959C55.4016 16.3717 55.1137 17.1149 55.1137 18.0255C55.1137 18.9361 55.4016 19.686 55.9774 20.2752Z"
      fill="#11253D" />
    <path
      d="M65.3594 22.8463V13.2048H67.368V14.6108C67.5689 14.3162 67.8166 14.0484 68.1112 13.8074C68.7808 13.2717 69.5374 13.0039 70.381 13.0039C71.5059 13.0039 72.4232 13.3855 73.1329 14.1488C73.8426 14.8987 74.1975 15.9231 74.1975 17.2221V22.8463H72.1888V17.2221C72.1888 16.5123 71.9813 15.9499 71.5661 15.5348C71.1644 15.1197 70.6355 14.9121 69.9793 14.9121C69.216 14.9121 68.5866 15.1665 68.0912 15.6754C67.6091 16.1709 67.368 16.8203 67.368 17.6238V22.8463H65.3594Z"
      fill="#11253D" />
    <path
      d="M77.8548 21.6009C76.8907 20.6234 76.4086 19.4316 76.4086 18.0255C76.4086 16.6195 76.8907 15.4344 77.8548 14.4702C78.8324 13.4927 80.0242 13.0039 81.4302 13.0039C82.8363 13.0039 84.0214 13.4927 84.9855 14.4702C85.9631 15.4344 86.4519 16.6195 86.4519 18.0255C86.4519 19.4316 85.9631 20.6234 84.9855 21.6009C84.0214 22.5651 82.8363 23.0472 81.4302 23.0472C80.0242 23.0472 78.8324 22.5651 77.8548 21.6009ZM79.281 20.2752C79.8568 20.851 80.5732 21.139 81.4302 21.139C82.2872 21.139 83.0037 20.851 83.5795 20.2752C84.1553 19.686 84.4432 18.9361 84.4432 18.0255C84.4432 17.1149 84.1553 16.3717 83.5795 15.7959C83.0037 15.2067 82.2872 14.9121 81.4302 14.9121C80.5732 14.9121 79.8568 15.2067 79.281 15.7959C78.7051 16.3717 78.4172 17.1149 78.4172 18.0255C78.4172 18.9361 78.7051 19.686 79.281 20.2752Z"
      fill="#11253D" />
    <path
      d="M88.663 22.8463V13.2048H90.6716V14.5104C90.9394 14.189 91.1872 13.9413 91.4148 13.7672C92.0576 13.2583 92.7807 13.0039 93.5842 13.0039H94.0863V15.113L93.8252 15.0728C93.5038 15.0326 93.323 15.0125 93.2829 15.0125C92.5731 15.0125 91.9572 15.2938 91.4349 15.8562C90.926 16.4052 90.6716 17.0949 90.6716 17.9251V22.8463H88.663Z"
      fill="#11253D" />
  </svg>

</template>

<script>
export default {
  name: 'ALogoIconDonor',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
