<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 67 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M25.443 0.13855H6.69553C2.99769 0.13855 0 3.13624 0 6.83408V25.5815C0 29.2794 2.99769 32.2771 6.69553 32.2771H25.443C29.1408 32.2771 32.1385 29.2794 32.1385 25.5815V6.83408C32.1385 3.13624 29.1408 0.13855 25.443 0.13855Z" fill="#409EFF"/>
      <path d="M24.0797 19.0773H19.3677L18.431 21.2294H16.1317L20.5174 11.1862H22.8502L27.4517 21.2294H24.9809L24.0797 19.0773ZM23.3385 17.3126L21.8374 13.47L20.1626 17.3126H23.3385Z" fill="white"/>
      <path d="M13.9035 19.3643V21.2294H6.02597V11.1862H13.7145V13.0513H8.36599V15.2322H13.0895V17.04H8.36599V19.3643H13.9035Z" fill="white"/>
      <path d="M22.8502 11.1862L18.4465 21.2294H16.121L11.7318 11.1862H14.2752L17.371 18.3599L20.5103 11.1862H22.8502Z" fill="white"/>
      <path d="M39.1472 22.4308V8.37018H44.7714C46.0034 8.37018 47.0144 8.73174 47.8045 9.45485C48.5946 10.178 48.9896 11.0551 48.9896 12.0862C48.9896 12.9164 48.7017 13.6463 48.1259 14.2756C47.8982 14.5301 47.617 14.7376 47.2822 14.8983C47.7375 15.0724 48.1393 15.3268 48.4874 15.6616C49.2909 16.3579 49.6926 17.2418 49.6926 18.313C49.6926 19.4379 49.2507 20.4087 48.3669 21.2256C47.4965 22.0291 46.3984 22.4308 45.0727 22.4308H39.1472ZM41.3567 20.5226H45.0727C45.7825 20.5226 46.3583 20.3016 46.8002 19.8597C47.2555 19.4178 47.4831 18.8688 47.4831 18.2126C47.4831 17.5564 47.2555 17.0074 46.8002 16.5655C46.3583 16.1236 45.7825 15.9026 45.0727 15.9026H41.3567V20.5226ZM41.3567 14.0949H44.7714C45.374 14.0949 45.8561 13.9208 46.2177 13.5726C46.5926 13.211 46.7801 12.7491 46.7801 12.1866C46.7801 11.6242 46.5926 11.1689 46.2177 10.8207C45.8561 10.4592 45.374 10.2784 44.7714 10.2784H41.3567V14.0949Z" fill="#11253D"/>
      <path d="M52.2976 22.4308V12.7892H54.3063V22.4308H52.2976ZM52.4583 10.64C52.2173 10.4123 52.0968 10.1244 52.0968 9.77624C52.0968 9.42807 52.2173 9.14016 52.4583 8.91252C52.6994 8.68487 52.9806 8.57104 53.3019 8.57104C53.6233 8.57104 53.9045 8.68487 54.1456 8.91252C54.3866 9.14016 54.5071 9.42807 54.5071 9.77624C54.5071 10.1244 54.3866 10.4123 54.1456 10.64C53.9045 10.8676 53.6233 10.9814 53.3019 10.9814C52.9806 10.9814 52.6994 10.8676 52.4583 10.64Z" fill="#11253D"/>
      <path d="M58.0625 21.1854C57.0983 20.2079 56.6162 19.0161 56.6162 17.61C56.6162 16.2039 57.0983 15.0188 58.0625 14.0547C59.04 13.0771 60.2318 12.5884 61.6379 12.5884C63.0439 12.5884 64.229 13.0771 65.1932 14.0547C66.1707 15.0188 66.6595 16.2039 66.6595 17.61C66.6595 19.0161 66.1707 20.2079 65.1932 21.1854C64.229 22.1496 63.0439 22.6317 61.6379 22.6317C60.2318 22.6317 59.04 22.1496 58.0625 21.1854ZM59.4886 19.8597C60.0644 20.4355 60.7808 20.7234 61.6379 20.7234C62.4949 20.7234 63.2113 20.4355 63.7871 19.8597C64.363 19.2705 64.6509 18.5206 64.6509 17.61C64.6509 16.6994 64.363 15.9562 63.7871 15.3804C63.2113 14.7912 62.4949 14.4966 61.6379 14.4966C60.7808 14.4966 60.0644 14.7912 59.4886 15.3804C58.9128 15.9562 58.6249 16.6994 58.6249 17.61C58.6249 18.5206 58.9128 19.2705 59.4886 19.8597Z" fill="#11253D"/>
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 67 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M25.443 0.13855H6.69553C2.99769 0.13855 0 3.13624 0 6.83408V25.5815C0 29.2794 2.99769 32.2771 6.69553 32.2771H25.443C29.1408 32.2771 32.1385 29.2794 32.1385 25.5815V6.83408C32.1385 3.13624 29.1408 0.13855 25.443 0.13855Z" fill="#409EFF"/>
    <path d="M24.0797 19.0773H19.3677L18.431 21.2294H16.1317L20.5174 11.1862H22.8502L27.4517 21.2294H24.9809L24.0797 19.0773ZM23.3385 17.3126L21.8374 13.47L20.1626 17.3126H23.3385Z" fill="white"/>
    <path d="M13.9035 19.3643V21.2294H6.02597V11.1862H13.7145V13.0513H8.36599V15.2322H13.0895V17.04H8.36599V19.3643H13.9035Z" fill="white"/>
    <path d="M22.8502 11.1862L18.4465 21.2294H16.121L11.7318 11.1862H14.2752L17.371 18.3599L20.5103 11.1862H22.8502Z" fill="white"/>
    <path d="M39.1472 22.4308V8.37018H44.7714C46.0034 8.37018 47.0144 8.73174 47.8045 9.45485C48.5946 10.178 48.9896 11.0551 48.9896 12.0862C48.9896 12.9164 48.7017 13.6463 48.1259 14.2756C47.8982 14.5301 47.617 14.7376 47.2822 14.8983C47.7375 15.0724 48.1393 15.3268 48.4874 15.6616C49.2909 16.3579 49.6926 17.2418 49.6926 18.313C49.6926 19.4379 49.2507 20.4087 48.3669 21.2256C47.4965 22.0291 46.3984 22.4308 45.0727 22.4308H39.1472ZM41.3567 20.5226H45.0727C45.7825 20.5226 46.3583 20.3016 46.8002 19.8597C47.2555 19.4178 47.4831 18.8688 47.4831 18.2126C47.4831 17.5564 47.2555 17.0074 46.8002 16.5655C46.3583 16.1236 45.7825 15.9026 45.0727 15.9026H41.3567V20.5226ZM41.3567 14.0949H44.7714C45.374 14.0949 45.8561 13.9208 46.2177 13.5726C46.5926 13.211 46.7801 12.7491 46.7801 12.1866C46.7801 11.6242 46.5926 11.1689 46.2177 10.8207C45.8561 10.4592 45.374 10.2784 44.7714 10.2784H41.3567V14.0949Z" fill="#11253D"/>
    <path d="M52.2976 22.4308V12.7892H54.3063V22.4308H52.2976ZM52.4583 10.64C52.2173 10.4123 52.0968 10.1244 52.0968 9.77624C52.0968 9.42807 52.2173 9.14016 52.4583 8.91252C52.6994 8.68487 52.9806 8.57104 53.3019 8.57104C53.6233 8.57104 53.9045 8.68487 54.1456 8.91252C54.3866 9.14016 54.5071 9.42807 54.5071 9.77624C54.5071 10.1244 54.3866 10.4123 54.1456 10.64C53.9045 10.8676 53.6233 10.9814 53.3019 10.9814C52.9806 10.9814 52.6994 10.8676 52.4583 10.64Z" fill="#11253D"/>
    <path d="M58.0625 21.1854C57.0983 20.2079 56.6162 19.0161 56.6162 17.61C56.6162 16.2039 57.0983 15.0188 58.0625 14.0547C59.04 13.0771 60.2318 12.5884 61.6379 12.5884C63.0439 12.5884 64.229 13.0771 65.1932 14.0547C66.1707 15.0188 66.6595 16.2039 66.6595 17.61C66.6595 19.0161 66.1707 20.2079 65.1932 21.1854C64.229 22.1496 63.0439 22.6317 61.6379 22.6317C60.2318 22.6317 59.04 22.1496 58.0625 21.1854ZM59.4886 19.8597C60.0644 20.4355 60.7808 20.7234 61.6379 20.7234C62.4949 20.7234 63.2113 20.4355 63.7871 19.8597C64.363 19.2705 64.6509 18.5206 64.6509 17.61C64.6509 16.6994 64.363 15.9562 63.7871 15.3804C63.2113 14.7912 62.4949 14.4966 61.6379 14.4966C60.7808 14.4966 60.0644 14.7912 59.4886 15.3804C58.9128 15.9562 58.6249 16.6994 58.6249 17.61C58.6249 18.5206 58.9128 19.2705 59.4886 19.8597Z" fill="#11253D"/>
  </svg>
</template>

<script>
export default {
  name: 'ALogoDefault',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
