<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 84 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.969666H6.69553C2.99769 0.969666 0 3.96735 0 7.66519V26.4127C0 30.1105 2.99769 33.1082 6.69553 33.1082H25.443C29.1408 33.1082 32.1385 30.1105 32.1385 26.4127V7.66519C32.1385 3.96735 29.1408 0.969666 25.443 0.969666Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.9084H19.3677L18.431 22.0606H16.1317L20.5174 12.0173H22.8502L27.4517 22.0606H24.9809L24.0797 19.9084ZM23.3385 18.1437L21.8374 14.3011L20.1626 18.1437H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 20.1954V22.0606H6.02597V12.0173H13.7145V13.8824H8.36599V16.0633H13.0895V17.8711H8.36599V20.1954H13.9035Z"
        fill="white" />
      <path d="M22.8502 12.0173L18.4465 22.0606H16.121L11.7318 12.0173H14.2752L17.371 19.1911L20.5103 12.0173H22.8502Z"
        fill="white" />
      <path
        d="M37.3394 23.5389L42.9636 9.47833H45.374L50.9983 23.5389H48.6883L47.2822 19.9234H41.0554L39.6493 23.5389H37.3394ZM41.8589 17.9147H46.4788L44.1688 12.0896L41.8589 17.9147Z"
        fill="#11253D" />
      <path
        d="M53.4173 20.526V15.8056H51.6095V13.8974H52.7142C53.0356 13.8974 53.2633 13.817 53.3972 13.6563C53.5445 13.4823 53.6181 13.1944 53.6181 12.7926V10.6835H55.4259V13.8974H57.6355V15.8056H55.4259V20.3251C55.4259 21.3294 55.8946 21.8316 56.832 21.8316C57.0998 21.8316 57.3609 21.7847 57.6154 21.691L57.9368 21.5303V23.4385L57.5149 23.5992C57.2069 23.6929 56.8454 23.7398 56.4303 23.7398C55.4661 23.7398 54.7229 23.4653 54.2007 22.9163C53.6784 22.3672 53.4173 21.5705 53.4173 20.526Z"
        fill="#11253D" />
      <path d="M60.4382 23.5389V9.47833H62.4468V23.5389H60.4382Z" fill="#11253D" />
      <path
        d="M70.9836 23.5389V22.1329C70.7961 22.4141 70.5417 22.6819 70.2203 22.9363C69.4972 23.472 68.7138 23.7398 67.8702 23.7398C66.9328 23.7398 66.1628 23.4653 65.5602 22.9163C64.9576 22.3672 64.6563 21.7044 64.6563 20.9277C64.6563 20.1376 64.9041 19.4748 65.3995 18.9391C65.9084 18.4035 66.598 18.062 67.4685 17.9147L70.9836 17.3121C70.9836 16.7898 70.7961 16.3613 70.4212 16.0266C70.0462 15.6784 69.5642 15.5043 68.975 15.5043C68.3858 15.5043 67.7765 15.7253 67.1471 16.1672C66.9194 16.3279 66.6918 16.5421 66.4641 16.8099L65.1585 15.5043C65.4263 15.1561 65.7477 14.8548 66.1227 14.6004C66.9663 13.9978 67.9171 13.6965 68.975 13.6965C70.1668 13.6965 71.1309 14.0514 71.8674 14.7611C72.6173 15.4574 72.9923 16.3412 72.9923 17.4125V23.5389H70.9836ZM70.9836 19.2203V18.919L68.1715 19.4212C67.1672 19.5953 66.665 20.0305 66.665 20.7268C66.665 21.0884 66.8056 21.3964 67.0868 21.6508C67.3814 21.9052 67.7765 22.0324 68.2719 22.0324C69.0352 22.0324 69.678 21.7646 70.2002 21.229C70.7225 20.6933 70.9836 20.0238 70.9836 19.2203Z"
        fill="#11253D" />
      <path
        d="M74.8911 21.932L76.1967 20.6264C76.411 20.8942 76.6386 21.1152 76.8797 21.2892C77.4956 21.7178 78.1049 21.932 78.7075 21.932C79.2432 21.932 79.6583 21.8182 79.9529 21.5905C80.2609 21.3495 80.4149 21.0616 80.4149 20.7268C80.4149 20.4322 80.2341 20.1912 79.8726 20.0037C79.5244 19.8162 79.1026 19.6555 78.6071 19.5216C78.1116 19.3877 77.6095 19.227 77.1006 19.0395C76.6051 18.8387 76.1766 18.524 75.8151 18.0955C75.4669 17.667 75.2928 17.138 75.2928 16.5086C75.2928 15.732 75.6142 15.0691 76.257 14.5201C76.8997 13.971 77.7501 13.6965 78.808 13.6965C79.7453 13.6965 80.6024 13.9175 81.3791 14.3594C81.7138 14.5335 81.995 14.7477 82.2227 15.0021L80.9171 16.3078C80.7296 16.1337 80.5421 15.9998 80.3546 15.906C79.886 15.6382 79.3704 15.5043 78.808 15.5043C78.3259 15.5043 77.9509 15.6047 77.6831 15.8056C77.4287 16.0065 77.3015 16.2408 77.3015 16.5086C77.3015 16.8032 77.4756 17.0443 77.8237 17.2318C78.1853 17.4192 78.6138 17.5866 79.1093 17.7339C79.6047 17.8678 80.1002 18.0352 80.5957 18.2361C81.1045 18.4236 81.5331 18.7316 81.8812 19.1601C82.2428 19.5752 82.4236 20.0974 82.4236 20.7268C82.4236 21.5705 82.0821 22.2869 81.3991 22.8761C80.7296 23.4519 79.8324 23.7398 78.7075 23.7398C77.6496 23.7398 76.6989 23.4385 75.8552 22.8359C75.4669 22.5815 75.1455 22.2802 74.8911 21.932Z"
        fill="#11253D" />
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 84 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.969666H6.69553C2.99769 0.969666 0 3.96735 0 7.66519V26.4127C0 30.1105 2.99769 33.1082 6.69553 33.1082H25.443C29.1408 33.1082 32.1385 30.1105 32.1385 26.4127V7.66519C32.1385 3.96735 29.1408 0.969666 25.443 0.969666Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.9084H19.3677L18.431 22.0606H16.1317L20.5174 12.0173H22.8502L27.4517 22.0606H24.9809L24.0797 19.9084ZM23.3385 18.1437L21.8374 14.3011L20.1626 18.1437H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 20.1954V22.0606H6.02597V12.0173H13.7145V13.8824H8.36599V16.0633H13.0895V17.8711H8.36599V20.1954H13.9035Z"
      fill="white" />
    <path d="M22.8502 12.0173L18.4465 22.0606H16.121L11.7318 12.0173H14.2752L17.371 19.1911L20.5103 12.0173H22.8502Z"
      fill="white" />
    <path
      d="M37.3394 23.5389L42.9636 9.47833H45.374L50.9983 23.5389H48.6883L47.2822 19.9234H41.0554L39.6493 23.5389H37.3394ZM41.8589 17.9147H46.4788L44.1688 12.0896L41.8589 17.9147Z"
      fill="#11253D" />
    <path
      d="M53.4173 20.526V15.8056H51.6095V13.8974H52.7142C53.0356 13.8974 53.2633 13.817 53.3972 13.6563C53.5445 13.4823 53.6181 13.1944 53.6181 12.7926V10.6835H55.4259V13.8974H57.6355V15.8056H55.4259V20.3251C55.4259 21.3294 55.8946 21.8316 56.832 21.8316C57.0998 21.8316 57.3609 21.7847 57.6154 21.691L57.9368 21.5303V23.4385L57.5149 23.5992C57.2069 23.6929 56.8454 23.7398 56.4303 23.7398C55.4661 23.7398 54.7229 23.4653 54.2007 22.9163C53.6784 22.3672 53.4173 21.5705 53.4173 20.526Z"
      fill="#11253D" />
    <path d="M60.4382 23.5389V9.47833H62.4468V23.5389H60.4382Z" fill="#11253D" />
    <path
      d="M70.9836 23.5389V22.1329C70.7961 22.4141 70.5417 22.6819 70.2203 22.9363C69.4972 23.472 68.7138 23.7398 67.8702 23.7398C66.9328 23.7398 66.1628 23.4653 65.5602 22.9163C64.9576 22.3672 64.6563 21.7044 64.6563 20.9277C64.6563 20.1376 64.9041 19.4748 65.3995 18.9391C65.9084 18.4035 66.598 18.062 67.4685 17.9147L70.9836 17.3121C70.9836 16.7898 70.7961 16.3613 70.4212 16.0266C70.0462 15.6784 69.5642 15.5043 68.975 15.5043C68.3858 15.5043 67.7765 15.7253 67.1471 16.1672C66.9194 16.3279 66.6918 16.5421 66.4641 16.8099L65.1585 15.5043C65.4263 15.1561 65.7477 14.8548 66.1227 14.6004C66.9663 13.9978 67.9171 13.6965 68.975 13.6965C70.1668 13.6965 71.1309 14.0514 71.8674 14.7611C72.6173 15.4574 72.9923 16.3412 72.9923 17.4125V23.5389H70.9836ZM70.9836 19.2203V18.919L68.1715 19.4212C67.1672 19.5953 66.665 20.0305 66.665 20.7268C66.665 21.0884 66.8056 21.3964 67.0868 21.6508C67.3814 21.9052 67.7765 22.0324 68.2719 22.0324C69.0352 22.0324 69.678 21.7646 70.2002 21.229C70.7225 20.6933 70.9836 20.0238 70.9836 19.2203Z"
      fill="#11253D" />
    <path
      d="M74.8911 21.932L76.1967 20.6264C76.411 20.8942 76.6386 21.1152 76.8797 21.2892C77.4956 21.7178 78.1049 21.932 78.7075 21.932C79.2432 21.932 79.6583 21.8182 79.9529 21.5905C80.2609 21.3495 80.4149 21.0616 80.4149 20.7268C80.4149 20.4322 80.2341 20.1912 79.8726 20.0037C79.5244 19.8162 79.1026 19.6555 78.6071 19.5216C78.1116 19.3877 77.6095 19.227 77.1006 19.0395C76.6051 18.8387 76.1766 18.524 75.8151 18.0955C75.4669 17.667 75.2928 17.138 75.2928 16.5086C75.2928 15.732 75.6142 15.0691 76.257 14.5201C76.8997 13.971 77.7501 13.6965 78.808 13.6965C79.7453 13.6965 80.6024 13.9175 81.3791 14.3594C81.7138 14.5335 81.995 14.7477 82.2227 15.0021L80.9171 16.3078C80.7296 16.1337 80.5421 15.9998 80.3546 15.906C79.886 15.6382 79.3704 15.5043 78.808 15.5043C78.3259 15.5043 77.9509 15.6047 77.6831 15.8056C77.4287 16.0065 77.3015 16.2408 77.3015 16.5086C77.3015 16.8032 77.4756 17.0443 77.8237 17.2318C78.1853 17.4192 78.6138 17.5866 79.1093 17.7339C79.6047 17.8678 80.1002 18.0352 80.5957 18.2361C81.1045 18.4236 81.5331 18.7316 81.8812 19.1601C82.2428 19.5752 82.4236 20.0974 82.4236 20.7268C82.4236 21.5705 82.0821 22.2869 81.3991 22.8761C80.7296 23.4519 79.8324 23.7398 78.7075 23.7398C77.6496 23.7398 76.6989 23.4385 75.8552 22.8359C75.4669 22.5815 75.1455 22.2802 74.8911 21.932Z"
      fill="#11253D" />
  </svg>
</template>

<script>
export default {
  name: 'ALogoIconAtlas',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
