<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 128 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.692627H6.69553C2.99769 0.692627 0 3.69032 0 7.38815V26.1356C0 29.8335 2.99769 32.8312 6.69553 32.8312H25.443C29.1408 32.8312 32.1385 29.8335 32.1385 26.1356V7.38815C32.1385 3.69032 29.1408 0.692627 25.443 0.692627Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.6314H19.3677L18.431 21.7835H16.1317L20.5174 11.7402H22.8502L27.4517 21.7835H24.9809L24.0797 19.6314ZM23.3385 17.8666L21.8374 14.0241L20.1626 17.8666H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 19.9184V21.7835H6.02597V11.7402H13.7145V13.6054H8.36599V15.7863H13.0895V17.5941H8.36599V19.9184H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.7402L18.4465 21.7835H16.121L11.7318 11.7402H14.2752L17.371 18.914L20.5103 11.7402H22.8502Z"
        fill="white" />
      <path d="M39.1472 23.2619V9.20129H41.3567V23.2619H39.1472Z" fill="#11253D" />
      <path
        d="M44.7628 23.2619V13.6203H46.7715V15.0264C46.9723 14.7318 47.2201 14.464 47.5147 14.2229C48.1842 13.6873 48.9408 13.4195 49.7844 13.4195C50.9093 13.4195 51.8266 13.8011 52.5363 14.5644C53.246 15.3143 53.6009 16.3387 53.6009 17.6377V23.2619H51.5922V17.6377C51.5922 16.9279 51.3847 16.3655 50.9695 15.9504C50.5678 15.5353 50.0389 15.3277 49.3827 15.3277C48.6194 15.3277 47.99 15.5821 47.4946 16.091C47.0125 16.5865 46.7715 17.2359 46.7715 18.0394V23.2619H44.7628Z"
        fill="#11253D" />
      <path
        d="M55.5107 21.655L56.8163 20.3493C57.0306 20.6172 57.2582 20.8381 57.4993 21.0122C58.1152 21.4407 58.7245 21.655 59.3271 21.655C59.8628 21.655 60.2779 21.5411 60.5725 21.3135C60.8805 21.0725 61.0345 20.7846 61.0345 20.4498C61.0345 20.1552 60.8537 19.9141 60.4922 19.7267C60.144 19.5392 59.7222 19.3785 59.2267 19.2446C58.7312 19.1107 58.2291 18.95 57.7202 18.7625C57.2247 18.5616 56.7962 18.247 56.4347 17.8184C56.0865 17.3899 55.9124 16.861 55.9124 16.2316C55.9124 15.4549 56.2338 14.7921 56.8766 14.243C57.5193 13.694 58.3697 13.4195 59.4276 13.4195C60.3649 13.4195 61.222 13.6404 61.9987 14.0823C62.3334 14.2564 62.6146 14.4707 62.8423 14.7251L61.5367 16.0307C61.3492 15.8566 61.1617 15.7227 60.9742 15.629C60.5055 15.3612 59.99 15.2273 59.4276 15.2273C58.9455 15.2273 58.5705 15.3277 58.3027 15.5286C58.0483 15.7294 57.9211 15.9638 57.9211 16.2316C57.9211 16.5262 58.0952 16.7672 58.4433 16.9547C58.8049 17.1422 59.2334 17.3096 59.7289 17.4569C60.2243 17.5908 60.7198 17.7582 61.2153 17.959C61.7241 18.1465 62.1526 18.4545 62.5008 18.883C62.8624 19.2981 63.0432 19.8204 63.0432 20.4498C63.0432 21.2934 62.7017 22.0098 62.0187 22.599C61.3492 23.1749 60.452 23.4628 59.3271 23.4628C58.2692 23.4628 57.3185 23.1615 56.4748 22.5589C56.0865 22.3044 55.7651 22.0031 55.5107 21.655Z"
        fill="#11253D" />
      <path
        d="M65.1436 19.2446V13.6203H67.1523V19.2446C67.1523 19.9543 67.3531 20.5167 67.7549 20.9319C68.17 21.347 68.7056 21.5545 69.3618 21.5545C70.1251 21.5545 70.7478 21.3068 71.2298 20.8113C71.7253 20.3025 71.973 19.6463 71.973 18.8429V13.6203H73.9817V23.2619H71.973V21.8558C71.7454 22.1638 71.491 22.4317 71.2098 22.6593C70.5402 23.1949 69.7903 23.4628 68.9601 23.4628C67.8352 23.4628 66.9179 23.0878 66.2082 22.3379C65.4985 21.5746 65.1436 20.5435 65.1436 19.2446Z"
        fill="#11253D" />
      <path
        d="M76.7954 23.2619V13.6203H78.8041V14.926C79.0719 14.6046 79.3196 14.3568 79.5473 14.1828C80.19 13.6739 80.9131 13.4195 81.7166 13.4195H82.2188V15.5286L81.9576 15.4884C81.6363 15.4482 81.4555 15.4281 81.4153 15.4281C80.7056 15.4281 80.0896 15.7093 79.5673 16.2718C79.0585 16.8208 78.8041 17.5104 78.8041 18.3407V23.2619H76.7954Z"
        fill="#11253D" />
      <path
        d="M89.6579 23.2619V21.8558C89.4704 22.1371 89.216 22.4049 88.8946 22.6593C88.1715 23.1949 87.3881 23.4628 86.5444 23.4628C85.6071 23.4628 84.8371 23.1882 84.2345 22.6392C83.6319 22.0902 83.3306 21.4273 83.3306 20.6506C83.3306 19.8606 83.5783 19.1977 84.0738 18.6621C84.5827 18.1264 85.2723 17.785 86.1427 17.6377L89.6579 17.0351C89.6579 16.5128 89.4704 16.0843 89.0954 15.7495C88.7205 15.4014 88.2384 15.2273 87.6492 15.2273C87.06 15.2273 86.4507 15.4482 85.8213 15.8901C85.5937 16.0508 85.366 16.2651 85.1384 16.5329L83.8328 15.2273C84.1006 14.8791 84.422 14.5778 84.7969 14.3234C85.6405 13.7208 86.5913 13.4195 87.6492 13.4195C88.841 13.4195 89.8052 13.7743 90.5417 14.4841C91.2916 15.1804 91.6665 16.0642 91.6665 17.1355V23.2619H89.6579ZM89.6579 18.9433V18.642L86.8457 19.1442C85.8414 19.3182 85.3393 19.7534 85.3393 20.4498C85.3393 20.8113 85.4799 21.1193 85.7611 21.3738C86.0557 21.6282 86.4507 21.7554 86.9462 21.7554C87.7095 21.7554 88.3522 21.4876 88.8745 20.9519C89.3967 20.4163 89.6579 19.7467 89.6579 18.9433Z"
        fill="#11253D" />
      <path
        d="M94.4692 23.2619V13.6203H96.4779V15.0264C96.6788 14.7318 96.9265 14.464 97.2211 14.2229C97.8906 13.6873 98.6472 13.4195 99.4909 13.4195C100.616 13.4195 101.533 13.8011 102.243 14.5644C102.952 15.3143 103.307 16.3387 103.307 17.6377V23.2619H101.299V17.6377C101.299 16.9279 101.091 16.3655 100.676 15.9504C100.274 15.5353 99.7453 15.3277 99.0891 15.3277C98.3259 15.3277 97.6965 15.5821 97.201 16.091C96.7189 16.5865 96.4779 17.2359 96.4779 18.0394V23.2619H94.4692Z"
        fill="#11253D" />
      <path
        d="M113.252 20.1485L114.658 21.4541C114.377 21.8157 114.028 22.1504 113.613 22.4584C112.676 23.128 111.652 23.4628 110.54 23.4628C109.134 23.4628 107.942 22.9807 106.965 22.0165C106 21.039 105.518 19.8472 105.518 18.4411C105.518 17.0351 106 15.85 106.965 14.8858C107.942 13.9082 109.134 13.4195 110.54 13.4195C111.678 13.4195 112.689 13.7409 113.573 14.3836C113.975 14.6782 114.303 14.9929 114.557 15.3277L113.151 16.6333C112.964 16.3789 112.743 16.1646 112.488 15.9906C111.859 15.5487 111.21 15.3277 110.54 15.3277C109.683 15.3277 108.967 15.6223 108.391 16.2115C107.815 16.7873 107.527 17.5305 107.527 18.4411C107.527 19.3517 107.815 20.1016 108.391 20.6908C108.967 21.2666 109.683 21.5545 110.54 21.5545C111.303 21.5545 111.966 21.3202 112.529 20.8515C112.77 20.664 113.011 20.4297 113.252 20.1485Z"
        fill="#11253D" />
      <path
        d="M123.692 20.2489L124.897 21.655C124.643 21.9897 124.308 22.291 123.893 22.5589C122.982 23.1615 121.945 23.4628 120.78 23.4628C119.373 23.4628 118.182 22.9807 117.204 22.0165C116.24 21.039 115.758 19.8472 115.758 18.4411C115.758 17.0351 116.233 15.85 117.184 14.8858C118.148 13.9082 119.313 13.4195 120.679 13.4195C122.045 13.4195 123.17 13.8681 124.054 14.7653C124.951 15.6491 125.399 16.7739 125.399 18.1398C125.399 18.2603 125.379 18.5014 125.339 18.8629L125.299 19.1442H117.867C117.987 19.8271 118.322 20.4029 118.871 20.8716C119.42 21.3269 120.09 21.5545 120.88 21.5545C121.603 21.5545 122.286 21.3403 122.929 20.9118C123.223 20.7243 123.478 20.5033 123.692 20.2489ZM117.867 17.4368H123.29C123.13 16.7538 122.828 16.2182 122.386 15.8299C121.945 15.4281 121.375 15.2273 120.679 15.2273C119.26 15.2273 118.322 15.9638 117.867 17.4368Z"
        fill="#11253D" />
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 128 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.692627H6.69553C2.99769 0.692627 0 3.69032 0 7.38815V26.1356C0 29.8335 2.99769 32.8312 6.69553 32.8312H25.443C29.1408 32.8312 32.1385 29.8335 32.1385 26.1356V7.38815C32.1385 3.69032 29.1408 0.692627 25.443 0.692627Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.6314H19.3677L18.431 21.7835H16.1317L20.5174 11.7402H22.8502L27.4517 21.7835H24.9809L24.0797 19.6314ZM23.3385 17.8666L21.8374 14.0241L20.1626 17.8666H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 19.9184V21.7835H6.02597V11.7402H13.7145V13.6054H8.36599V15.7863H13.0895V17.5941H8.36599V19.9184H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.7402L18.4465 21.7835H16.121L11.7318 11.7402H14.2752L17.371 18.914L20.5103 11.7402H22.8502Z"
      fill="white" />
    <path d="M39.1472 23.2619V9.20129H41.3567V23.2619H39.1472Z" fill="#11253D" />
    <path
      d="M44.7628 23.2619V13.6203H46.7715V15.0264C46.9723 14.7318 47.2201 14.464 47.5147 14.2229C48.1842 13.6873 48.9408 13.4195 49.7844 13.4195C50.9093 13.4195 51.8266 13.8011 52.5363 14.5644C53.246 15.3143 53.6009 16.3387 53.6009 17.6377V23.2619H51.5922V17.6377C51.5922 16.9279 51.3847 16.3655 50.9695 15.9504C50.5678 15.5353 50.0389 15.3277 49.3827 15.3277C48.6194 15.3277 47.99 15.5821 47.4946 16.091C47.0125 16.5865 46.7715 17.2359 46.7715 18.0394V23.2619H44.7628Z"
      fill="#11253D" />
    <path
      d="M55.5107 21.655L56.8163 20.3493C57.0306 20.6172 57.2582 20.8381 57.4993 21.0122C58.1152 21.4407 58.7245 21.655 59.3271 21.655C59.8628 21.655 60.2779 21.5411 60.5725 21.3135C60.8805 21.0725 61.0345 20.7846 61.0345 20.4498C61.0345 20.1552 60.8537 19.9141 60.4922 19.7267C60.144 19.5392 59.7222 19.3785 59.2267 19.2446C58.7312 19.1107 58.2291 18.95 57.7202 18.7625C57.2247 18.5616 56.7962 18.247 56.4347 17.8184C56.0865 17.3899 55.9124 16.861 55.9124 16.2316C55.9124 15.4549 56.2338 14.7921 56.8766 14.243C57.5193 13.694 58.3697 13.4195 59.4276 13.4195C60.3649 13.4195 61.222 13.6404 61.9987 14.0823C62.3334 14.2564 62.6146 14.4707 62.8423 14.7251L61.5367 16.0307C61.3492 15.8566 61.1617 15.7227 60.9742 15.629C60.5055 15.3612 59.99 15.2273 59.4276 15.2273C58.9455 15.2273 58.5705 15.3277 58.3027 15.5286C58.0483 15.7294 57.9211 15.9638 57.9211 16.2316C57.9211 16.5262 58.0952 16.7672 58.4433 16.9547C58.8049 17.1422 59.2334 17.3096 59.7289 17.4569C60.2243 17.5908 60.7198 17.7582 61.2153 17.959C61.7241 18.1465 62.1526 18.4545 62.5008 18.883C62.8624 19.2981 63.0432 19.8204 63.0432 20.4498C63.0432 21.2934 62.7017 22.0098 62.0187 22.599C61.3492 23.1749 60.452 23.4628 59.3271 23.4628C58.2692 23.4628 57.3185 23.1615 56.4748 22.5589C56.0865 22.3044 55.7651 22.0031 55.5107 21.655Z"
      fill="#11253D" />
    <path
      d="M65.1436 19.2446V13.6203H67.1523V19.2446C67.1523 19.9543 67.3531 20.5167 67.7549 20.9319C68.17 21.347 68.7056 21.5545 69.3618 21.5545C70.1251 21.5545 70.7478 21.3068 71.2298 20.8113C71.7253 20.3025 71.973 19.6463 71.973 18.8429V13.6203H73.9817V23.2619H71.973V21.8558C71.7454 22.1638 71.491 22.4317 71.2098 22.6593C70.5402 23.1949 69.7903 23.4628 68.9601 23.4628C67.8352 23.4628 66.9179 23.0878 66.2082 22.3379C65.4985 21.5746 65.1436 20.5435 65.1436 19.2446Z"
      fill="#11253D" />
    <path
      d="M76.7954 23.2619V13.6203H78.8041V14.926C79.0719 14.6046 79.3196 14.3568 79.5473 14.1828C80.19 13.6739 80.9131 13.4195 81.7166 13.4195H82.2188V15.5286L81.9576 15.4884C81.6363 15.4482 81.4555 15.4281 81.4153 15.4281C80.7056 15.4281 80.0896 15.7093 79.5673 16.2718C79.0585 16.8208 78.8041 17.5104 78.8041 18.3407V23.2619H76.7954Z"
      fill="#11253D" />
    <path
      d="M89.6579 23.2619V21.8558C89.4704 22.1371 89.216 22.4049 88.8946 22.6593C88.1715 23.1949 87.3881 23.4628 86.5444 23.4628C85.6071 23.4628 84.8371 23.1882 84.2345 22.6392C83.6319 22.0902 83.3306 21.4273 83.3306 20.6506C83.3306 19.8606 83.5783 19.1977 84.0738 18.6621C84.5827 18.1264 85.2723 17.785 86.1427 17.6377L89.6579 17.0351C89.6579 16.5128 89.4704 16.0843 89.0954 15.7495C88.7205 15.4014 88.2384 15.2273 87.6492 15.2273C87.06 15.2273 86.4507 15.4482 85.8213 15.8901C85.5937 16.0508 85.366 16.2651 85.1384 16.5329L83.8328 15.2273C84.1006 14.8791 84.422 14.5778 84.7969 14.3234C85.6405 13.7208 86.5913 13.4195 87.6492 13.4195C88.841 13.4195 89.8052 13.7743 90.5417 14.4841C91.2916 15.1804 91.6665 16.0642 91.6665 17.1355V23.2619H89.6579ZM89.6579 18.9433V18.642L86.8457 19.1442C85.8414 19.3182 85.3393 19.7534 85.3393 20.4498C85.3393 20.8113 85.4799 21.1193 85.7611 21.3738C86.0557 21.6282 86.4507 21.7554 86.9462 21.7554C87.7095 21.7554 88.3522 21.4876 88.8745 20.9519C89.3967 20.4163 89.6579 19.7467 89.6579 18.9433Z"
      fill="#11253D" />
    <path
      d="M94.4692 23.2619V13.6203H96.4779V15.0264C96.6788 14.7318 96.9265 14.464 97.2211 14.2229C97.8906 13.6873 98.6472 13.4195 99.4909 13.4195C100.616 13.4195 101.533 13.8011 102.243 14.5644C102.952 15.3143 103.307 16.3387 103.307 17.6377V23.2619H101.299V17.6377C101.299 16.9279 101.091 16.3655 100.676 15.9504C100.274 15.5353 99.7453 15.3277 99.0891 15.3277C98.3259 15.3277 97.6965 15.5821 97.201 16.091C96.7189 16.5865 96.4779 17.2359 96.4779 18.0394V23.2619H94.4692Z"
      fill="#11253D" />
    <path
      d="M113.252 20.1485L114.658 21.4541C114.377 21.8157 114.028 22.1504 113.613 22.4584C112.676 23.128 111.652 23.4628 110.54 23.4628C109.134 23.4628 107.942 22.9807 106.965 22.0165C106 21.039 105.518 19.8472 105.518 18.4411C105.518 17.0351 106 15.85 106.965 14.8858C107.942 13.9082 109.134 13.4195 110.54 13.4195C111.678 13.4195 112.689 13.7409 113.573 14.3836C113.975 14.6782 114.303 14.9929 114.557 15.3277L113.151 16.6333C112.964 16.3789 112.743 16.1646 112.488 15.9906C111.859 15.5487 111.21 15.3277 110.54 15.3277C109.683 15.3277 108.967 15.6223 108.391 16.2115C107.815 16.7873 107.527 17.5305 107.527 18.4411C107.527 19.3517 107.815 20.1016 108.391 20.6908C108.967 21.2666 109.683 21.5545 110.54 21.5545C111.303 21.5545 111.966 21.3202 112.529 20.8515C112.77 20.664 113.011 20.4297 113.252 20.1485Z"
      fill="#11253D" />
    <path
      d="M123.692 20.2489L124.897 21.655C124.643 21.9897 124.308 22.291 123.893 22.5589C122.982 23.1615 121.945 23.4628 120.78 23.4628C119.373 23.4628 118.182 22.9807 117.204 22.0165C116.24 21.039 115.758 19.8472 115.758 18.4411C115.758 17.0351 116.233 15.85 117.184 14.8858C118.148 13.9082 119.313 13.4195 120.679 13.4195C122.045 13.4195 123.17 13.8681 124.054 14.7653C124.951 15.6491 125.399 16.7739 125.399 18.1398C125.399 18.2603 125.379 18.5014 125.339 18.8629L125.299 19.1442H117.867C117.987 19.8271 118.322 20.4029 118.871 20.8716C119.42 21.3269 120.09 21.5545 120.88 21.5545C121.603 21.5545 122.286 21.3403 122.929 20.9118C123.223 20.7243 123.478 20.5033 123.692 20.2489ZM117.867 17.4368H123.29C123.13 16.7538 122.828 16.2182 122.386 15.8299C121.945 15.4281 121.375 15.2273 120.679 15.2273C119.26 15.2273 118.322 15.9638 117.867 17.4368Z"
      fill="#11253D" />
  </svg>
</template>

<script>
export default {
  name: 'ALogoIconInsurance',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
