<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 141 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.246704H6.69553C2.99769 0.246704 0 3.24439 0 6.94223V25.6897C0 29.3875 2.99769 32.3852 6.69553 32.3852H25.443C29.1408 32.3852 32.1385 29.3875 32.1385 25.6897V6.94223C32.1385 3.24439 29.1408 0.246704 25.443 0.246704Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.1855H19.3677L18.431 21.3376H16.1317L20.5174 11.2943H22.8502L27.4517 21.3376H24.9809L24.0797 19.1855ZM23.3385 17.4207L21.8374 13.5782L20.1626 17.4207H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 19.4724V21.3376H6.02597V11.2943H13.7145V13.1595H8.36599V15.3404H13.0895V17.1481H8.36599V19.4724H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.2943L18.4465 21.3376H16.121L11.7318 11.2943H14.2752L17.371 18.4681L20.5103 11.2943H22.8502Z"
        fill="white" />
      <path
        d="M37.1385 23.0606V9H41.8589C43.8943 9 45.6218 9.69634 47.0412 11.089C48.474 12.4683 49.1905 14.1154 49.1905 16.0303C49.1905 17.9452 48.474 19.599 47.0412 20.9917C45.6218 22.371 43.8943 23.0606 41.8589 23.0606H37.1385ZM39.348 21.0519H41.8589C43.3051 21.0519 44.517 20.5699 45.4945 19.6057C46.4855 18.6282 46.9809 17.4364 46.9809 16.0303C46.9809 14.6242 46.4855 13.4391 45.4945 12.475C44.517 11.4974 43.3051 11.0087 41.8589 11.0087H39.348V21.0519Z"
        fill="#11253D" />
      <path
        d="M51.7994 23.0606V13.419H53.808V23.0606H51.7994ZM51.9601 11.2698C51.719 11.0421 51.5985 10.7542 51.5985 10.4061C51.5985 10.0579 51.719 9.76999 51.9601 9.54234C52.2011 9.31469 52.4823 9.20087 52.8037 9.20087C53.1251 9.20087 53.4063 9.31469 53.6473 9.54234C53.8884 9.76999 54.0089 10.0579 54.0089 10.4061C54.0089 10.7542 53.8884 11.0421 53.6473 11.2698C53.4063 11.4974 53.1251 11.6113 52.8037 11.6113C52.4823 11.6113 52.2011 11.4974 51.9601 11.2698Z"
        fill="#11253D" />
      <path
        d="M62.3448 23.0606V21.6545C62.1573 21.9358 61.9029 22.2036 61.5815 22.458C60.8584 22.9936 60.075 23.2615 59.2314 23.2615C58.294 23.2615 57.524 22.987 56.9214 22.4379C56.3188 21.8889 56.0175 21.226 56.0175 20.4494C56.0175 19.6593 56.2653 18.9964 56.7608 18.4608C57.2696 17.9251 57.9593 17.5837 58.8297 17.4364L62.3448 16.8338C62.3448 16.3115 62.1573 15.883 61.7824 15.5482C61.4074 15.2001 60.9254 15.026 60.3362 15.026C59.747 15.026 59.1377 15.2469 58.5083 15.6888C58.2806 15.8495 58.053 16.0638 57.8253 16.3316L56.5197 15.026C56.7875 14.6778 57.1089 14.3765 57.4839 14.1221C58.3275 13.5195 59.2783 13.2182 60.3362 13.2182C61.528 13.2182 62.4921 13.573 63.2286 14.2828C63.9785 14.9791 64.3535 15.8629 64.3535 16.9342V23.0606H62.3448ZM62.3448 18.742V18.4407L59.5327 18.9429C58.5284 19.1169 58.0262 19.5522 58.0262 20.2485C58.0262 20.61 58.1668 20.918 58.448 21.1725C58.7426 21.4269 59.1377 21.5541 59.6331 21.5541C60.3964 21.5541 61.0392 21.2863 61.5614 20.7506C62.0837 20.215 62.3448 19.5455 62.3448 18.742Z"
        fill="#11253D" />
      <path
        d="M66.8549 25.2701L68.2609 23.9645C68.502 24.2457 68.743 24.4801 68.9841 24.6675C69.5465 25.1362 70.2093 25.3706 70.9726 25.3706C71.8966 25.3706 72.6264 25.0893 73.1621 24.5269C73.7111 23.9779 73.9856 23.2213 73.9856 22.2571V21.3532C73.7848 21.6345 73.5303 21.8889 73.2223 22.1165C72.5126 22.612 71.7292 22.8597 70.8722 22.8597C69.6938 22.8597 68.6761 22.4044 67.819 21.4939C66.9754 20.5699 66.5536 19.4182 66.5536 18.039C66.5536 16.6597 66.9754 15.5147 67.819 14.6042C68.6761 13.6802 69.6938 13.2182 70.8722 13.2182C71.7158 13.2182 72.4992 13.4726 73.2223 13.9815C73.5169 14.1957 73.7714 14.4435 73.9856 14.7247V13.419H75.9943V22.2571C75.9943 23.7168 75.5189 24.9153 74.5681 25.8526C73.6308 26.8034 72.4323 27.2788 70.9726 27.2788C69.8612 27.2788 68.8368 26.944 67.8994 26.2745C67.4843 25.9665 67.1361 25.6317 66.8549 25.2701ZM69.3456 20.128C69.8679 20.677 70.5106 20.9515 71.2739 20.9515C72.0372 20.9515 72.68 20.677 73.2022 20.128C73.7245 19.5789 73.9856 18.8826 73.9856 18.039C73.9856 17.1953 73.7245 16.499 73.2022 15.95C72.68 15.4009 72.0372 15.1264 71.2739 15.1264C70.5106 15.1264 69.8679 15.4009 69.3456 15.95C68.8234 16.499 68.5622 17.1953 68.5622 18.039C68.5622 18.8826 68.8234 19.5789 69.3456 20.128Z"
        fill="#11253D" />
      <path
        d="M78.808 23.0606V13.419H80.8166V14.8251C81.0175 14.5305 81.2652 14.2627 81.5598 14.0216C82.2294 13.486 82.986 13.2182 83.8296 13.2182C84.9545 13.2182 85.8717 13.5998 86.5815 14.3631C87.2912 15.113 87.6461 16.1374 87.6461 17.4364V23.0606H85.6374V17.4364C85.6374 16.7266 85.4298 16.1642 85.0147 15.7491C84.613 15.334 84.084 15.1264 83.4279 15.1264C82.6646 15.1264 82.0352 15.3808 81.5397 15.8897C81.0577 16.3852 80.8166 17.0346 80.8166 17.8381V23.0606H78.808Z"
        fill="#11253D" />
      <path
        d="M91.3034 21.8152C90.3392 20.8377 89.8572 19.6459 89.8572 18.2398C89.8572 16.8338 90.3392 15.6487 91.3034 14.6845C92.2809 13.707 93.4727 13.2182 94.8788 13.2182C96.2849 13.2182 97.47 13.707 98.4341 14.6845C99.4117 15.6487 99.9004 16.8338 99.9004 18.2398C99.9004 19.6459 99.4117 20.8377 98.4341 21.8152C97.47 22.7794 96.2849 23.2615 94.8788 23.2615C93.4727 23.2615 92.2809 22.7794 91.3034 21.8152ZM92.7295 20.4895C93.3054 21.0653 94.0218 21.3532 94.8788 21.3532C95.7358 21.3532 96.4522 21.0653 97.0281 20.4895C97.6039 19.9003 97.8918 19.1504 97.8918 18.2398C97.8918 17.3292 97.6039 16.586 97.0281 16.0102C96.4522 15.421 95.7358 15.1264 94.8788 15.1264C94.0218 15.1264 93.3054 15.421 92.7295 16.0102C92.1537 16.586 91.8658 17.3292 91.8658 18.2398C91.8658 19.1504 92.1537 19.9003 92.7295 20.4895Z"
        fill="#11253D" />
      <path
        d="M101.208 21.4537L102.513 20.1481C102.728 20.4159 102.955 20.6368 103.196 20.8109C103.812 21.2394 104.421 21.4537 105.024 21.4537C105.56 21.4537 105.975 21.3399 106.269 21.1122C106.577 20.8712 106.731 20.5833 106.731 20.2485C106.731 19.9539 106.551 19.7128 106.189 19.5254C105.841 19.3379 105.419 19.1772 104.924 19.0433C104.428 18.9094 103.926 18.7487 103.417 18.5612C102.922 18.3603 102.493 18.0457 102.132 17.6171C101.783 17.1886 101.609 16.6597 101.609 16.0303C101.609 15.2536 101.931 14.5908 102.574 14.0417C103.216 13.4927 104.067 13.2182 105.125 13.2182C106.062 13.2182 106.919 13.4391 107.696 13.881C108.03 14.0551 108.312 14.2694 108.539 14.5238L107.234 15.8294C107.046 15.6554 106.859 15.5214 106.671 15.4277C106.202 15.1599 105.687 15.026 105.125 15.026C104.642 15.026 104.267 15.1264 104 15.3273C103.745 15.5281 103.618 15.7625 103.618 16.0303C103.618 16.3249 103.792 16.5659 104.14 16.7534C104.502 16.9409 104.93 17.1083 105.426 17.2556C105.921 17.3895 106.417 17.5569 106.912 17.7577C107.421 17.9452 107.85 18.2532 108.198 18.6817C108.559 19.0969 108.74 19.6191 108.74 20.2485C108.74 21.0921 108.399 21.8085 107.716 22.3977C107.046 22.9736 106.149 23.2615 105.024 23.2615C103.966 23.2615 103.015 22.9602 102.172 22.3576C101.783 22.1031 101.462 21.8018 101.208 21.4537Z"
        fill="#11253D" />
      <path
        d="M111.845 20.0476V15.3273H110.037V13.419H111.142C111.463 13.419 111.691 13.3387 111.825 13.178C111.972 13.0039 112.046 12.716 112.046 12.3143V10.2052H113.854V13.419H116.063V15.3273H113.854V19.8468C113.854 20.8511 114.322 21.3532 115.26 21.3532C115.527 21.3532 115.789 21.3064 116.043 21.2126L116.364 21.0519V22.9602L115.943 23.1209C115.635 23.2146 115.273 23.2615 114.858 23.2615C113.894 23.2615 113.151 22.987 112.628 22.4379C112.106 21.8889 111.845 21.0921 111.845 20.0476Z"
        fill="#11253D" />
      <path
        d="M118.866 23.0606V13.419H120.874V23.0606H118.866ZM119.026 11.2698C118.785 11.0421 118.665 10.7542 118.665 10.4061C118.665 10.0579 118.785 9.76999 119.026 9.54234C119.268 9.31469 119.549 9.20087 119.87 9.20087C120.191 9.20087 120.473 9.31469 120.714 9.54234C120.955 9.76999 121.075 10.0579 121.075 10.4061C121.075 10.7542 120.955 11.0421 120.714 11.2698C120.473 11.4974 120.191 11.6113 119.87 11.6113C119.549 11.6113 119.268 11.4974 119.026 11.2698Z"
        fill="#11253D" />
      <path
        d="M130.918 19.9472L132.324 21.2528C132.043 21.6144 131.694 21.9491 131.279 22.2571C130.342 22.9267 129.318 23.2615 128.206 23.2615C126.8 23.2615 125.608 22.7794 124.631 21.8152C123.666 20.8377 123.184 19.6459 123.184 18.2398C123.184 16.8338 123.666 15.6487 124.631 14.6845C125.608 13.707 126.8 13.2182 128.206 13.2182C129.344 13.2182 130.355 13.5396 131.239 14.1823C131.641 14.4769 131.969 14.7916 132.223 15.1264L130.817 16.432C130.63 16.1776 130.409 15.9633 130.154 15.7893C129.525 15.3474 128.876 15.1264 128.206 15.1264C127.349 15.1264 126.633 15.421 126.057 16.0102C125.481 16.586 125.193 17.3292 125.193 18.2398C125.193 19.1504 125.481 19.9003 126.057 20.4895C126.633 21.0653 127.349 21.3532 128.206 21.3532C128.969 21.3532 129.632 21.1189 130.195 20.6502C130.436 20.4627 130.677 20.2284 130.918 19.9472Z"
        fill="#11253D" />
      <path
        d="M133.319 21.4537L134.624 20.1481C134.839 20.4159 135.066 20.6368 135.307 20.8109C135.923 21.2394 136.533 21.4537 137.135 21.4537C137.671 21.4537 138.086 21.3399 138.381 21.1122C138.689 20.8712 138.843 20.5833 138.843 20.2485C138.843 19.9539 138.662 19.7128 138.3 19.5254C137.952 19.3379 137.53 19.1772 137.035 19.0433C136.539 18.9094 136.037 18.7487 135.528 18.5612C135.033 18.3603 134.604 18.0457 134.243 17.6171C133.895 17.1886 133.72 16.6597 133.72 16.0303C133.72 15.2536 134.042 14.5908 134.685 14.0417C135.327 13.4927 136.178 13.2182 137.236 13.2182C138.173 13.2182 139.03 13.4391 139.807 13.881C140.141 14.0551 140.423 14.2694 140.65 14.5238L139.345 15.8294C139.157 15.6554 138.97 15.5214 138.782 15.4277C138.314 15.1599 137.798 15.026 137.236 15.026C136.754 15.026 136.379 15.1264 136.111 15.3273C135.856 15.5281 135.729 15.7625 135.729 16.0303C135.729 16.3249 135.903 16.5659 136.251 16.7534C136.613 16.9409 137.041 17.1083 137.537 17.2556C138.032 17.3895 138.528 17.5569 139.023 17.7577C139.532 17.9452 139.961 18.2532 140.309 18.6817C140.67 19.0969 140.851 19.6191 140.851 20.2485C140.851 21.0921 140.51 21.8085 139.827 22.3977C139.157 22.9736 138.26 23.2615 137.135 23.2615C136.077 23.2615 135.126 22.9602 134.283 22.3576C133.895 22.1031 133.573 21.8018 133.319 21.4537Z"
        fill="#11253D" />
    </svg>
  </nuxt-link>
  <svg v-else viewBox="0 0 141 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.246704H6.69553C2.99769 0.246704 0 3.24439 0 6.94223V25.6897C0 29.3875 2.99769 32.3852 6.69553 32.3852H25.443C29.1408 32.3852 32.1385 29.3875 32.1385 25.6897V6.94223C32.1385 3.24439 29.1408 0.246704 25.443 0.246704Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.1855H19.3677L18.431 21.3376H16.1317L20.5174 11.2943H22.8502L27.4517 21.3376H24.9809L24.0797 19.1855ZM23.3385 17.4207L21.8374 13.5782L20.1626 17.4207H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 19.4724V21.3376H6.02597V11.2943H13.7145V13.1595H8.36599V15.3404H13.0895V17.1481H8.36599V19.4724H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.2943L18.4465 21.3376H16.121L11.7318 11.2943H14.2752L17.371 18.4681L20.5103 11.2943H22.8502Z"
      fill="white" />
    <path
      d="M37.1385 23.0606V9H41.8589C43.8943 9 45.6218 9.69634 47.0412 11.089C48.474 12.4683 49.1905 14.1154 49.1905 16.0303C49.1905 17.9452 48.474 19.599 47.0412 20.9917C45.6218 22.371 43.8943 23.0606 41.8589 23.0606H37.1385ZM39.348 21.0519H41.8589C43.3051 21.0519 44.517 20.5699 45.4945 19.6057C46.4855 18.6282 46.9809 17.4364 46.9809 16.0303C46.9809 14.6242 46.4855 13.4391 45.4945 12.475C44.517 11.4974 43.3051 11.0087 41.8589 11.0087H39.348V21.0519Z"
      fill="#11253D" />
    <path
      d="M51.7994 23.0606V13.419H53.808V23.0606H51.7994ZM51.9601 11.2698C51.719 11.0421 51.5985 10.7542 51.5985 10.4061C51.5985 10.0579 51.719 9.76999 51.9601 9.54234C52.2011 9.31469 52.4823 9.20087 52.8037 9.20087C53.1251 9.20087 53.4063 9.31469 53.6473 9.54234C53.8884 9.76999 54.0089 10.0579 54.0089 10.4061C54.0089 10.7542 53.8884 11.0421 53.6473 11.2698C53.4063 11.4974 53.1251 11.6113 52.8037 11.6113C52.4823 11.6113 52.2011 11.4974 51.9601 11.2698Z"
      fill="#11253D" />
    <path
      d="M62.3448 23.0606V21.6545C62.1573 21.9358 61.9029 22.2036 61.5815 22.458C60.8584 22.9936 60.075 23.2615 59.2314 23.2615C58.294 23.2615 57.524 22.987 56.9214 22.4379C56.3188 21.8889 56.0175 21.226 56.0175 20.4494C56.0175 19.6593 56.2653 18.9964 56.7608 18.4608C57.2696 17.9251 57.9593 17.5837 58.8297 17.4364L62.3448 16.8338C62.3448 16.3115 62.1573 15.883 61.7824 15.5482C61.4074 15.2001 60.9254 15.026 60.3362 15.026C59.747 15.026 59.1377 15.2469 58.5083 15.6888C58.2806 15.8495 58.053 16.0638 57.8253 16.3316L56.5197 15.026C56.7875 14.6778 57.1089 14.3765 57.4839 14.1221C58.3275 13.5195 59.2783 13.2182 60.3362 13.2182C61.528 13.2182 62.4921 13.573 63.2286 14.2828C63.9785 14.9791 64.3535 15.8629 64.3535 16.9342V23.0606H62.3448ZM62.3448 18.742V18.4407L59.5327 18.9429C58.5284 19.1169 58.0262 19.5522 58.0262 20.2485C58.0262 20.61 58.1668 20.918 58.448 21.1725C58.7426 21.4269 59.1377 21.5541 59.6331 21.5541C60.3964 21.5541 61.0392 21.2863 61.5614 20.7506C62.0837 20.215 62.3448 19.5455 62.3448 18.742Z"
      fill="#11253D" />
    <path
      d="M66.8549 25.2701L68.2609 23.9645C68.502 24.2457 68.743 24.4801 68.9841 24.6675C69.5465 25.1362 70.2093 25.3706 70.9726 25.3706C71.8966 25.3706 72.6264 25.0893 73.1621 24.5269C73.7111 23.9779 73.9856 23.2213 73.9856 22.2571V21.3532C73.7848 21.6345 73.5303 21.8889 73.2223 22.1165C72.5126 22.612 71.7292 22.8597 70.8722 22.8597C69.6938 22.8597 68.6761 22.4044 67.819 21.4939C66.9754 20.5699 66.5536 19.4182 66.5536 18.039C66.5536 16.6597 66.9754 15.5147 67.819 14.6042C68.6761 13.6802 69.6938 13.2182 70.8722 13.2182C71.7158 13.2182 72.4992 13.4726 73.2223 13.9815C73.5169 14.1957 73.7714 14.4435 73.9856 14.7247V13.419H75.9943V22.2571C75.9943 23.7168 75.5189 24.9153 74.5681 25.8526C73.6308 26.8034 72.4323 27.2788 70.9726 27.2788C69.8612 27.2788 68.8368 26.944 67.8994 26.2745C67.4843 25.9665 67.1361 25.6317 66.8549 25.2701ZM69.3456 20.128C69.8679 20.677 70.5106 20.9515 71.2739 20.9515C72.0372 20.9515 72.68 20.677 73.2022 20.128C73.7245 19.5789 73.9856 18.8826 73.9856 18.039C73.9856 17.1953 73.7245 16.499 73.2022 15.95C72.68 15.4009 72.0372 15.1264 71.2739 15.1264C70.5106 15.1264 69.8679 15.4009 69.3456 15.95C68.8234 16.499 68.5622 17.1953 68.5622 18.039C68.5622 18.8826 68.8234 19.5789 69.3456 20.128Z"
      fill="#11253D" />
    <path
      d="M78.808 23.0606V13.419H80.8166V14.8251C81.0175 14.5305 81.2652 14.2627 81.5598 14.0216C82.2294 13.486 82.986 13.2182 83.8296 13.2182C84.9545 13.2182 85.8717 13.5998 86.5815 14.3631C87.2912 15.113 87.6461 16.1374 87.6461 17.4364V23.0606H85.6374V17.4364C85.6374 16.7266 85.4298 16.1642 85.0147 15.7491C84.613 15.334 84.084 15.1264 83.4279 15.1264C82.6646 15.1264 82.0352 15.3808 81.5397 15.8897C81.0577 16.3852 80.8166 17.0346 80.8166 17.8381V23.0606H78.808Z"
      fill="#11253D" />
    <path
      d="M91.3034 21.8152C90.3392 20.8377 89.8572 19.6459 89.8572 18.2398C89.8572 16.8338 90.3392 15.6487 91.3034 14.6845C92.2809 13.707 93.4727 13.2182 94.8788 13.2182C96.2849 13.2182 97.47 13.707 98.4341 14.6845C99.4117 15.6487 99.9004 16.8338 99.9004 18.2398C99.9004 19.6459 99.4117 20.8377 98.4341 21.8152C97.47 22.7794 96.2849 23.2615 94.8788 23.2615C93.4727 23.2615 92.2809 22.7794 91.3034 21.8152ZM92.7295 20.4895C93.3054 21.0653 94.0218 21.3532 94.8788 21.3532C95.7358 21.3532 96.4522 21.0653 97.0281 20.4895C97.6039 19.9003 97.8918 19.1504 97.8918 18.2398C97.8918 17.3292 97.6039 16.586 97.0281 16.0102C96.4522 15.421 95.7358 15.1264 94.8788 15.1264C94.0218 15.1264 93.3054 15.421 92.7295 16.0102C92.1537 16.586 91.8658 17.3292 91.8658 18.2398C91.8658 19.1504 92.1537 19.9003 92.7295 20.4895Z"
      fill="#11253D" />
    <path
      d="M101.208 21.4537L102.513 20.1481C102.728 20.4159 102.955 20.6368 103.196 20.8109C103.812 21.2394 104.421 21.4537 105.024 21.4537C105.56 21.4537 105.975 21.3399 106.269 21.1122C106.577 20.8712 106.731 20.5833 106.731 20.2485C106.731 19.9539 106.551 19.7128 106.189 19.5254C105.841 19.3379 105.419 19.1772 104.924 19.0433C104.428 18.9094 103.926 18.7487 103.417 18.5612C102.922 18.3603 102.493 18.0457 102.132 17.6171C101.783 17.1886 101.609 16.6597 101.609 16.0303C101.609 15.2536 101.931 14.5908 102.574 14.0417C103.216 13.4927 104.067 13.2182 105.125 13.2182C106.062 13.2182 106.919 13.4391 107.696 13.881C108.03 14.0551 108.312 14.2694 108.539 14.5238L107.234 15.8294C107.046 15.6554 106.859 15.5214 106.671 15.4277C106.202 15.1599 105.687 15.026 105.125 15.026C104.642 15.026 104.267 15.1264 104 15.3273C103.745 15.5281 103.618 15.7625 103.618 16.0303C103.618 16.3249 103.792 16.5659 104.14 16.7534C104.502 16.9409 104.93 17.1083 105.426 17.2556C105.921 17.3895 106.417 17.5569 106.912 17.7577C107.421 17.9452 107.85 18.2532 108.198 18.6817C108.559 19.0969 108.74 19.6191 108.74 20.2485C108.74 21.0921 108.399 21.8085 107.716 22.3977C107.046 22.9736 106.149 23.2615 105.024 23.2615C103.966 23.2615 103.015 22.9602 102.172 22.3576C101.783 22.1031 101.462 21.8018 101.208 21.4537Z"
      fill="#11253D" />
    <path
      d="M111.845 20.0476V15.3273H110.037V13.419H111.142C111.463 13.419 111.691 13.3387 111.825 13.178C111.972 13.0039 112.046 12.716 112.046 12.3143V10.2052H113.854V13.419H116.063V15.3273H113.854V19.8468C113.854 20.8511 114.322 21.3532 115.26 21.3532C115.527 21.3532 115.789 21.3064 116.043 21.2126L116.364 21.0519V22.9602L115.943 23.1209C115.635 23.2146 115.273 23.2615 114.858 23.2615C113.894 23.2615 113.151 22.987 112.628 22.4379C112.106 21.8889 111.845 21.0921 111.845 20.0476Z"
      fill="#11253D" />
    <path
      d="M118.866 23.0606V13.419H120.874V23.0606H118.866ZM119.026 11.2698C118.785 11.0421 118.665 10.7542 118.665 10.4061C118.665 10.0579 118.785 9.76999 119.026 9.54234C119.268 9.31469 119.549 9.20087 119.87 9.20087C120.191 9.20087 120.473 9.31469 120.714 9.54234C120.955 9.76999 121.075 10.0579 121.075 10.4061C121.075 10.7542 120.955 11.0421 120.714 11.2698C120.473 11.4974 120.191 11.6113 119.87 11.6113C119.549 11.6113 119.268 11.4974 119.026 11.2698Z"
      fill="#11253D" />
    <path
      d="M130.918 19.9472L132.324 21.2528C132.043 21.6144 131.694 21.9491 131.279 22.2571C130.342 22.9267 129.318 23.2615 128.206 23.2615C126.8 23.2615 125.608 22.7794 124.631 21.8152C123.666 20.8377 123.184 19.6459 123.184 18.2398C123.184 16.8338 123.666 15.6487 124.631 14.6845C125.608 13.707 126.8 13.2182 128.206 13.2182C129.344 13.2182 130.355 13.5396 131.239 14.1823C131.641 14.4769 131.969 14.7916 132.223 15.1264L130.817 16.432C130.63 16.1776 130.409 15.9633 130.154 15.7893C129.525 15.3474 128.876 15.1264 128.206 15.1264C127.349 15.1264 126.633 15.421 126.057 16.0102C125.481 16.586 125.193 17.3292 125.193 18.2398C125.193 19.1504 125.481 19.9003 126.057 20.4895C126.633 21.0653 127.349 21.3532 128.206 21.3532C128.969 21.3532 129.632 21.1189 130.195 20.6502C130.436 20.4627 130.677 20.2284 130.918 19.9472Z"
      fill="#11253D" />
    <path
      d="M133.319 21.4537L134.624 20.1481C134.839 20.4159 135.066 20.6368 135.307 20.8109C135.923 21.2394 136.533 21.4537 137.135 21.4537C137.671 21.4537 138.086 21.3399 138.381 21.1122C138.689 20.8712 138.843 20.5833 138.843 20.2485C138.843 19.9539 138.662 19.7128 138.3 19.5254C137.952 19.3379 137.53 19.1772 137.035 19.0433C136.539 18.9094 136.037 18.7487 135.528 18.5612C135.033 18.3603 134.604 18.0457 134.243 17.6171C133.895 17.1886 133.72 16.6597 133.72 16.0303C133.72 15.2536 134.042 14.5908 134.685 14.0417C135.327 13.4927 136.178 13.2182 137.236 13.2182C138.173 13.2182 139.03 13.4391 139.807 13.881C140.141 14.0551 140.423 14.2694 140.65 14.5238L139.345 15.8294C139.157 15.6554 138.97 15.5214 138.782 15.4277C138.314 15.1599 137.798 15.026 137.236 15.026C136.754 15.026 136.379 15.1264 136.111 15.3273C135.856 15.5281 135.729 15.7625 135.729 16.0303C135.729 16.3249 135.903 16.5659 136.251 16.7534C136.613 16.9409 137.041 17.1083 137.537 17.2556C138.032 17.3895 138.528 17.5569 139.023 17.7577C139.532 17.9452 139.961 18.2532 140.309 18.6817C140.67 19.0969 140.851 19.6191 140.851 20.2485C140.851 21.0921 140.51 21.8085 139.827 22.3977C139.157 22.9736 138.26 23.2615 137.135 23.2615C136.077 23.2615 135.126 22.9602 134.283 22.3576C133.895 22.1031 133.573 21.8018 133.319 21.4537Z"
      fill="#11253D" />
  </svg>

</template>

<script>
export default {
  name: 'ALogoIconDiagnostics',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
