<template>
  <div :class="classes">
    <ALogoDefault v-if="type === 'default'" :link="link" :customColor="customColor" />
    <ALogoIconId v-if="type === 'icon-id'" :link="link" :customColor="customColor" />
    <ALogoIconDonor v-if="type === 'icon-donor'" :link="link" :customColor="customColor" />
    <ALogoIconClinic v-if="type === 'icon-clinic'" :link="link" :customColor="customColor" />
    <ALogoIconPhar v-if="type === 'icon-phar'" :link="link" :customColor="customColor" />
    <ALogoMtb v-if="type === 'mtb'" :link="link" :customColor="customColor" />
    <ALogoPartners v-if="type === 'partners'" :link="link" :customColor="customColor" />
    <ALogoIconInsurance v-if="type === 'icon-insurance'" :link="link" :customColor="customColor" />
    <ALogoIconAtlas v-if="type === 'icon-atlas'" :link="link" :customColor="customColor" />
    <ALogoIconLife v-if="type === 'icon-life'" :link="link" :customColor="customColor" />
    <ALogoIconDiagnostics v-if="type === 'icon-diagnostics'" :link="link" :customColor="customColor" />
    <ALogoIconRegister v-if="type === 'icon-register'" :link="link" :customColor="customColor" />
  </div>
</template>

<script>
import './a-logo.scss'

export default {
  name: 'ALogo',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: 'default',
      validator(value) {
        return ['default', 'icon-id', 'icon-donor', 'icon-clinic', 'icon-phar', 'mtb', 'partners', 'icon-insurance', 'icon-atlas', 'icon-life', 'icon-diagnostics', 'icon-register'].indexOf(value) !== -1;
      },
    },
    size: {
      type: String,
      default: 'medium',
      validator(value) {
        return ['large', 'medium', 'small'].indexOf(value) !== -1;
      },
    }
  },
  computed: {
    classes() {
      return {
        'a-logo': true,
        [`a-logo_size_${this.size}`]: true
      }
    }
  }
}
</script>
