<template>
  <nuxt-link v-if="link" :to="localePath('/')">
    <svg viewBox="0 0 98 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M25.443 0.554077H6.69553C2.99769 0.554077 0 3.55177 0 7.2496V25.9971C0 29.6949 2.99769 32.6926 6.69553 32.6926H25.443C29.1408 32.6926 32.1385 29.6949 32.1385 25.9971V7.2496C32.1385 3.55177 29.1408 0.554077 25.443 0.554077Z"
        fill="#409EFF" />
      <path
        d="M24.0797 19.4928H19.3677L18.431 21.645H16.1317L20.5174 11.6017H22.8502L27.4517 21.645H24.9809L24.0797 19.4928ZM23.3385 17.7281L21.8374 13.8855L20.1626 17.7281H23.3385Z"
        fill="white" />
      <path
        d="M13.9035 19.7798V21.645H6.02597V11.6017H13.7145V13.4669H8.36599V15.6477H13.0895V17.4555H8.36599V19.7798H13.9035Z"
        fill="white" />
      <path d="M22.8502 11.6017L18.4465 21.645H16.121L11.7318 11.6017H14.2752L17.371 18.7755L20.5103 11.6017H22.8502Z"
        fill="white" />
      <path
        d="M39.1472 23.1234V9.06274H44.7714C46.1239 9.06274 47.2488 9.49795 48.146 10.3684C49.0432 11.2388 49.4918 12.3101 49.4918 13.5822C49.4918 14.8544 49.0432 15.9257 48.146 16.7961C47.2488 17.6665 46.1239 18.1017 44.7714 18.1017H41.3567V23.1234H39.1472ZM41.3567 16.093H44.7714C45.4678 16.093 46.057 15.852 46.539 15.3699C47.0345 14.8879 47.2822 14.292 47.2822 13.5822C47.2822 12.8725 47.0345 12.2766 46.539 11.7945C46.057 11.3124 45.4678 11.0714 44.7714 11.0714H41.3567V16.093Z"
        fill="#11253D" />
      <path
        d="M51.513 23.1234V9.06274H53.5216V14.8879C53.7225 14.5932 53.9702 14.3254 54.2648 14.0844C54.9344 13.5487 55.691 13.2809 56.5346 13.2809C57.6595 13.2809 58.5768 13.6626 59.2865 14.4259C59.9962 15.1758 60.3511 16.2002 60.3511 17.4991V23.1234H58.3424V17.4991C58.3424 16.7894 58.1349 16.227 57.7197 15.8118C57.318 15.3967 56.7891 15.1892 56.1329 15.1892C55.3696 15.1892 54.7402 15.4436 54.2448 15.9524C53.7627 16.4479 53.5216 17.0974 53.5216 17.9008V23.1234H51.513Z"
        fill="#11253D" />
      <path
        d="M68.7867 23.1234V21.7173C68.5992 21.9985 68.3448 22.2663 68.0234 22.5208C67.3003 23.0564 66.5169 23.3242 65.6732 23.3242C64.7359 23.3242 63.9659 23.0497 63.3633 22.5007C62.7607 21.9516 62.4594 21.2888 62.4594 20.5121C62.4594 19.722 62.7071 19.0592 63.2026 18.5235C63.7115 17.9879 64.4011 17.6464 65.2715 17.4991L68.7867 16.8965C68.7867 16.3743 68.5992 15.9457 68.2242 15.611C67.8493 15.2628 67.3672 15.0887 66.778 15.0887C66.1888 15.0887 65.5795 15.3097 64.9501 15.7516C64.7225 15.9123 64.4948 16.1265 64.2672 16.3943L62.9616 15.0887C63.2294 14.7406 63.5508 14.4393 63.9257 14.1848C64.7693 13.5822 65.7201 13.2809 66.778 13.2809C67.9698 13.2809 68.934 13.6358 69.6705 14.3455C70.4204 15.0418 70.7953 15.9257 70.7953 16.9969V23.1234H68.7867ZM68.7867 18.8047V18.5034L65.9745 19.0056C64.9702 19.1797 64.468 19.6149 64.468 20.3112C64.468 20.6728 64.6087 20.9808 64.8899 21.2352C65.1845 21.4896 65.5795 21.6169 66.075 21.6169C66.8383 21.6169 67.481 21.349 68.0033 20.8134C68.5255 20.2778 68.7867 19.6082 68.7867 18.8047Z"
        fill="#11253D" />
      <path
        d="M73.598 23.1234V13.4818H75.6067V14.7874C75.8745 14.466 76.1222 14.2183 76.3499 14.0442C76.9926 13.5354 77.7158 13.2809 78.5192 13.2809H79.0214V15.39L78.7603 15.3498C78.4389 15.3097 78.2581 15.2896 78.2179 15.2896C77.5082 15.2896 76.8922 15.5708 76.37 16.1332C75.8611 16.6823 75.6067 17.3719 75.6067 18.2021V23.1234H73.598Z"
        fill="#11253D" />
      <path
        d="M80.8363 23.1234V13.4818H82.8449V14.8879C82.9922 14.6066 83.2065 14.3388 83.4877 14.0844C84.1037 13.5487 84.8268 13.2809 85.657 13.2809C86.5408 13.2809 87.3041 13.5487 87.9469 14.0844C88.2415 14.3388 88.4825 14.6066 88.67 14.8879C88.8307 14.62 89.0784 14.3522 89.4132 14.0844C90.1363 13.5487 90.9934 13.2809 91.9843 13.2809C92.9618 13.2809 93.7921 13.6626 94.475 14.4259C95.158 15.1892 95.4995 16.1801 95.4995 17.3987V23.1234H93.4908V17.3987C93.4908 16.7023 93.3033 16.16 92.9284 15.7717C92.5534 15.3833 92.0713 15.1892 91.4821 15.1892C90.8126 15.1892 90.2569 15.4302 89.815 15.9123C89.3864 16.381 89.1722 17.0103 89.1722 17.8004V23.1234H87.1635V17.3987C87.1635 16.7023 86.9761 16.16 86.6011 15.7717C86.2262 15.3833 85.7441 15.1892 85.1549 15.1892C84.4853 15.1892 83.9296 15.4302 83.4877 15.9123C83.0592 16.381 82.8449 17.0103 82.8449 17.8004V23.1234H80.8363Z"
        fill="#11253D" />
    </svg>

  </nuxt-link>
  <svg v-else viewBox="0 0 98 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M25.443 0.554077H6.69553C2.99769 0.554077 0 3.55177 0 7.2496V25.9971C0 29.6949 2.99769 32.6926 6.69553 32.6926H25.443C29.1408 32.6926 32.1385 29.6949 32.1385 25.9971V7.2496C32.1385 3.55177 29.1408 0.554077 25.443 0.554077Z"
      fill="#409EFF" />
    <path
      d="M24.0797 19.4928H19.3677L18.431 21.645H16.1317L20.5174 11.6017H22.8502L27.4517 21.645H24.9809L24.0797 19.4928ZM23.3385 17.7281L21.8374 13.8855L20.1626 17.7281H23.3385Z"
      fill="white" />
    <path
      d="M13.9035 19.7798V21.645H6.02597V11.6017H13.7145V13.4669H8.36599V15.6477H13.0895V17.4555H8.36599V19.7798H13.9035Z"
      fill="white" />
    <path d="M22.8502 11.6017L18.4465 21.645H16.121L11.7318 11.6017H14.2752L17.371 18.7755L20.5103 11.6017H22.8502Z"
      fill="white" />
    <path
      d="M39.1472 23.1234V9.06274H44.7714C46.1239 9.06274 47.2488 9.49795 48.146 10.3684C49.0432 11.2388 49.4918 12.3101 49.4918 13.5822C49.4918 14.8544 49.0432 15.9257 48.146 16.7961C47.2488 17.6665 46.1239 18.1017 44.7714 18.1017H41.3567V23.1234H39.1472ZM41.3567 16.093H44.7714C45.4678 16.093 46.057 15.852 46.539 15.3699C47.0345 14.8879 47.2822 14.292 47.2822 13.5822C47.2822 12.8725 47.0345 12.2766 46.539 11.7945C46.057 11.3124 45.4678 11.0714 44.7714 11.0714H41.3567V16.093Z"
      fill="#11253D" />
    <path
      d="M51.513 23.1234V9.06274H53.5216V14.8879C53.7225 14.5932 53.9702 14.3254 54.2648 14.0844C54.9344 13.5487 55.691 13.2809 56.5346 13.2809C57.6595 13.2809 58.5768 13.6626 59.2865 14.4259C59.9962 15.1758 60.3511 16.2002 60.3511 17.4991V23.1234H58.3424V17.4991C58.3424 16.7894 58.1349 16.227 57.7197 15.8118C57.318 15.3967 56.7891 15.1892 56.1329 15.1892C55.3696 15.1892 54.7402 15.4436 54.2448 15.9524C53.7627 16.4479 53.5216 17.0974 53.5216 17.9008V23.1234H51.513Z"
      fill="#11253D" />
    <path
      d="M68.7867 23.1234V21.7173C68.5992 21.9985 68.3448 22.2663 68.0234 22.5208C67.3003 23.0564 66.5169 23.3242 65.6732 23.3242C64.7359 23.3242 63.9659 23.0497 63.3633 22.5007C62.7607 21.9516 62.4594 21.2888 62.4594 20.5121C62.4594 19.722 62.7071 19.0592 63.2026 18.5235C63.7115 17.9879 64.4011 17.6464 65.2715 17.4991L68.7867 16.8965C68.7867 16.3743 68.5992 15.9457 68.2242 15.611C67.8493 15.2628 67.3672 15.0887 66.778 15.0887C66.1888 15.0887 65.5795 15.3097 64.9501 15.7516C64.7225 15.9123 64.4948 16.1265 64.2672 16.3943L62.9616 15.0887C63.2294 14.7406 63.5508 14.4393 63.9257 14.1848C64.7693 13.5822 65.7201 13.2809 66.778 13.2809C67.9698 13.2809 68.934 13.6358 69.6705 14.3455C70.4204 15.0418 70.7953 15.9257 70.7953 16.9969V23.1234H68.7867ZM68.7867 18.8047V18.5034L65.9745 19.0056C64.9702 19.1797 64.468 19.6149 64.468 20.3112C64.468 20.6728 64.6087 20.9808 64.8899 21.2352C65.1845 21.4896 65.5795 21.6169 66.075 21.6169C66.8383 21.6169 67.481 21.349 68.0033 20.8134C68.5255 20.2778 68.7867 19.6082 68.7867 18.8047Z"
      fill="#11253D" />
    <path
      d="M73.598 23.1234V13.4818H75.6067V14.7874C75.8745 14.466 76.1222 14.2183 76.3499 14.0442C76.9926 13.5354 77.7158 13.2809 78.5192 13.2809H79.0214V15.39L78.7603 15.3498C78.4389 15.3097 78.2581 15.2896 78.2179 15.2896C77.5082 15.2896 76.8922 15.5708 76.37 16.1332C75.8611 16.6823 75.6067 17.3719 75.6067 18.2021V23.1234H73.598Z"
      fill="#11253D" />
    <path
      d="M80.8363 23.1234V13.4818H82.8449V14.8879C82.9922 14.6066 83.2065 14.3388 83.4877 14.0844C84.1037 13.5487 84.8268 13.2809 85.657 13.2809C86.5408 13.2809 87.3041 13.5487 87.9469 14.0844C88.2415 14.3388 88.4825 14.6066 88.67 14.8879C88.8307 14.62 89.0784 14.3522 89.4132 14.0844C90.1363 13.5487 90.9934 13.2809 91.9843 13.2809C92.9618 13.2809 93.7921 13.6626 94.475 14.4259C95.158 15.1892 95.4995 16.1801 95.4995 17.3987V23.1234H93.4908V17.3987C93.4908 16.7023 93.3033 16.16 92.9284 15.7717C92.5534 15.3833 92.0713 15.1892 91.4821 15.1892C90.8126 15.1892 90.2569 15.4302 89.815 15.9123C89.3864 16.381 89.1722 17.0103 89.1722 17.8004V23.1234H87.1635V17.3987C87.1635 16.7023 86.9761 16.16 86.6011 15.7717C86.2262 15.3833 85.7441 15.1892 85.1549 15.1892C84.4853 15.1892 83.9296 15.4302 83.4877 15.9123C83.0592 16.381 82.8449 17.0103 82.8449 17.8004V23.1234H80.8363Z"
      fill="#11253D" />
  </svg>

</template>

<script>
export default {
  name: 'ALogoIconPhar',
  props: {
    link: {
      type: Boolean,
      default: false
    },
    customColor: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fill() {
      return this.customColor ? 'currentColor' : '#11253D';
    }
  }
}
</script>
