<template>
  <div class="s-work" id="Services">
    <div class="container">
      <div class="s-work__inner">
        <div class="s-work__title">
          {{ $t('title') }}
        </div>
        <div class="s-work__content">
          <swiper class="s-work__swiper" :options="swiperOptionWork">
            <template v-for="(item,index) in $t(`items`)">
              <swiper-slide :key="index" class="s-work__swiper-slide">
                <div class="s-work__item">
                  <div class="s-work__item-logo">
                    <img :src="'images/work/'+ item.id +'.svg' " alt="">
                  </div>
                  <div class="s-work__item-text">
                    <div class="s-work__item-title">
                      {{item.name}}
                    </div>
                    <div class="s-work__item-description">
                      {{item.text}}
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<i18n lang="json" src="./s-work.json" />

<script>
import './s-work.scss'

export default {
  name: 'SWork',
  data () {
    return {
      swiperOptionWork: {
        slidesPerView: 'auto',
        spaceBetween: 16,
        resistance: true,
        resistanceRatio: 0,
        breakpoints: {
          360:{
            slidesPerView: 1.3,
          },
          450:{
            slidesPerView: 1.7,
          },
          768:{
            slidesPerView: 2,
          },
          991:{
            slidesPerView: 3.1,
          },
          1140:{
            slidesPerView: 4.3,
          }
        }
      }
    }
  }
}
</script>
