.s-work {
  margin: 50px 0;
  @media screen and (max-width: 768px) {
    margin: 30px 0;
  }
  .container {
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  &__inner{
    padding: var(--a-padding--x10);
    @media screen and (max-width: 768px) {
      padding: var(--a-padding--x5);
    }
    @media screen and (max-width: 450px) {
      padding: var(--a-padding--x3);
    }
  }
  &__title{
    text-align: center;
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;

    color: #000000;

    margin-bottom: 60px;
    @media screen and (max-width: 768px) {
      font-size: 38px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  &__swiper{
    &-slide{
      // max-width: 300px;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 10px;
    &-logo{
      margin-bottom: 50px;
      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
        img{
          width: 80%;
        }
      }
    }
    &-title{
      font-weight: 500;
      font-size: 28px;
      line-height: 115%;

      margin-bottom: 20px;
    }
    &-description{
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;

      text-align: center;

      color: #000000;

      opacity: 0.6;
    }
  }
}
